<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layoutProviders">
      
      <layoutType
            description="Label layout algorithms concern themselves exclusively with placing labels on an otherwise already existing layout."
            id="de.cau.cs.kieler.type.labeling"
            name="Label Layout">
      </layoutType>
      
      <layoutAlgorithm
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.klay.labeling.LabelLayoutProvider"
            id="de.cau.cs.kieler.klay.labeling"
            name="KLay Label Layouter"
            type="de.cau.cs.kieler.type.labeling">
         <supportedDiagram
               priority="15"
               type="de.cau.cs.kieler.layout.diagrams.general">
         </supportedDiagram>
         <knownOption
               option="de.cau.cs.kieler.debugMode">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.labeling.position">
         </knownOption>
      </layoutAlgorithm>
      <layoutOption
            advanced="true"
            appliesTo="labels"
            default="0.5f"
            description="The position of the label along the edge, between 0.0 and 1.0"
            id="de.cau.cs.kieler.klay.labeling.position"
            name="position"
            type="float">
      </layoutOption>
      
   </extension>
</plugin>
