<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="de.cau.cs.kieler.ksbase.ui.handler.TransformationEditPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
      </editpolicyProvider>
      <editpolicyProvider
            class="de.cau.cs.kieler.ksbase.ui.handler.BalloonPopupEditPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
      </editpolicyProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="KIELER Structure based editing commands"
            id="de.cau.cs.kieler.ksbase.ui.ksbaseCategory"
            name="KSBasE">
      </category>
      <command
            id="de.cau.cs.kieler.ksbase.ui.customTransformationCommand"
            name="Custom Transformation">
         <commandParameter
               id="de.cau.cs.kieler.ksbase.editorParameter"
               name="editor"
               optional="true">
         </commandParameter>
         <commandParameter
               id="de.cau.cs.kieler.ksbase.transformationParameter"
               name="transformation"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.cau.cs.kieler.ksbase.ui.test.ModelObjectTester"
            id="de.cau.cs.kieler.ksbase.ui.modelObjectTester"
            namespace="de.cau.cs.kieler.ksbase.ui.modelTesting"
            properties="isModelInstance"
            type="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
      </propertyTester>
   </extension>

   <extension
         point="de.cau.cs.kieler.core.kivi.combinations">
      <combination
            class="de.cau.cs.kieler.ksbase.ui.kivi.UpdateVisibilityCombination"
            description="Structure-Based Editing needs to update its menus and toolbars when the user selection changes."
            name="KSBasE Menu Updates">
      </combination>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="toolbar:de.cau.cs.kieler">
         <dynamic
               class="de.cau.cs.kieler.ksbase.ui.menus.KSBasEContributionItem"
               id="de.cau.cs.kieler.ksbase.ui.dynamic.toolbar">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:de.cau.cs.kieler">
         <dynamic
               class="de.cau.cs.kieler.ksbase.ui.menus.KSBasEContributionItem"
               id="de.cau.cs.kieler.ksbase.ui.dynamic.menu">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=addGroup">
         <dynamic
               class="de.cau.cs.kieler.ksbase.ui.menus.KSBasEContributionItem"
               id="de.cau.cs.kieler.ksbase.ui.dynamic.popup">
         </dynamic>
      </menuContribution>
   </extension>

  <!--    
  <extension
        point="de.cau.cs.kieler.core.kivi.combinations">
     <combination
           class="de.cau.cs.kieler.ksbase.ui.kivi.KSBasECombination"
           description="Performs automatic layout and zoom-to-fit after a KSBasE transformation."
           name="KSBasECombination"
           active="true">
     </combination>
  </extension>
  -->
      <!--
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="menu:de.cau.cs.kieler">
        <menu
              label="Custom">
           <dynamic
                 class="de.cau.cs.kieler.ksbase.ui.menus.DynamicMenu"
                 id="de.cau.cs.kieler.ksbase.ui.customDynamic">
           </dynamic>
           <visibleWhen
                 checkEnabled="false">
           </visibleWhen>
        </menu>
     </menuContribution>
  </extension>
  -->
  <!--
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           commandId="de.cau.cs.kieler.ksbase.ui.customTransformationCommand">
        <activeWhen>
           <test
                 property="de.cau.cs.kieler.ksbase.ui.test1">
           </test>
        </activeWhen>
        <enabledWhen></enabledWhen>
     </handler>
  </extension>
  -->
</plugin>
