<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.ksbase.configuration" name="KSBasE Configuration" schema="schema/de.cau.cs.kieler.ksbase.configuration.exsd"/>
   
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="de.cau.cs.kieler.ksbase.ui.handler.TransformationEditPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
      </editpolicyProvider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.ksbase.ui.KSBasEPreferencePage"
            id="de.cau.cs.kieler.ksbase.PreferencePage"
            name="Structure based editing">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="KIELER Structure based editing commands"
            id="de.cau.cs.kieler.ksbase.ui.ksbaseCategory"
            name="KSBasE">
      </category>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.cau.cs.kieler.ksbase.ui.test.ModelObjectTester"
            id="de.cau.cs.kieler.ksbase.ui.modelObjectTester"
            namespace="de.cau.cs.kieler.ksbase.ui.modelTesting"
            properties="isModelInstance"
            type="org.eclipse.gmf.runtime.diagram.ui.editparts.GraphicalEditPart">
      </propertyTester>
   </extension>
</plugin>
