<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://kieler.cs.cau.de/GML" 
       class = "de.cau.cs.kieler.kiml.formats.gml.gml.GmlPackage"
       genModel = "de/cau/cs/kieler/kiml/formats/gml/GML.genmodel" /> 
	
  </extension>
  <extension
        point="de.cau.cs.kieler.kiml.service.graphTransformers">
     <handler
           class="de.cau.cs.kieler.kiml.formats.gml.GmlHandler"
           description="The Graph Modelling Language. See http://www.fim.uni-passau.de/en/fim/faculty/chairs/theoretische-informatik/projects.html"
           id="de.uni-passau.fim.gml"
           name="GML">
     </handler>
  </extension>



</plugin>
