<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://kieler.cs.cau.de/keg"
            class="de.cau.cs.kieler.keg.KEGPackage"
            genModel="model/graphs.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="de.cau.cs.kieler.keg.custom.KEGDeletionPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
      </editpolicyProvider>
   </extension>
   <extension
         point="de.cau.cs.kieler.karma">
      <configuration
            RenderingProvider="de.cau.cs.kieler.keg.custom.KEGFigureProvider">
         <conditions>
            <customCondition
                  condition="de.cau.cs.kieler.keg.custom.NoPortsCondition"
                  figureParam="noPorts">
            </customCondition>
            <customCondition
                  condition="de.cau.cs.kieler.keg.custom.PortsCondition"
                  figureParam="ports">
            </customCondition></conditions>
         <package
               class="de.cau.cs.kieler.core.kgraph.KGraphPackage">
         </package>
         <package
               class="de.cau.cs.kieler.keg.KEGPackage">
         </package>
         <editPart
               editPart="de.cau.cs.kieler.keg.diagram.edit.parts.Node2EditPart">
         </editPart>
         <editPart
               editPart="de.cau.cs.kieler.keg.diagram.edit.parts.Node4EditPart">
         </editPart>
      </configuration>
   </extension>
      
</plugin>
