.DS_Store
*.class
bin/
.svn/
xtend-gen/
target/
*.pdf
build/workspace
*.java._trace

build/de\.cau\.cs\.kieler\.ptolemy\.rcp\.repository/\.project

features/de\.cau\.cs\.kieler\.ptview\.feature/\.project
