<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension
      point="org.eclipse.graphiti.ui.diagramTypes">
    <diagramType
      description="This is the diagram type for the rail editor."
      id="de.cau.cs.kieler.rail.editor.DiagramType"
      name="Rail"
      type="Rail">
    </diagramType>
  </extension>
 
  <extension
      point="org.eclipse.graphiti.ui.diagramTypeProviders">
    <diagramTypeProvider
      class="de.cau.cs.kieler.rail.editor.DiagramTypeProvider"
      description="This is the editor for rail"
      id="de.cau.cs.kieler.rail.editor.DiagramTypeProvider"
      name="My tutorial editor">
      <diagramType
        id="de.cau.cs.kieler.rail.editor.DiagramType">
      </diagramType>
      <imageProvider
               id="de.cau.cs.kieler.rail.editor.ImageProvider">
         </imageProvider>
    </diagramTypeProvider>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           category="de.cau.cs.kieler"
           class="de.cau.cs.kieler.rail.editor.KrailNewWizard"
           id="de.cau.cs.kieler.rail.editor.WizardPage"
           name="Rail Editor">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.editors">
     <editor
           class="de.cau.cs.kieler.rail.editor.KrailDiagramEditor"
           default="true"
           extensions="krail"
           id="de.cau.cs.kieler.rail.editor"
           name="Rail Editor">
     </editor>
  </extension>
     <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="de.cau.cs.kieler.rail.editor.ImageProvider"
            id="de.cau.cs.kieler.rail.editor.ImageProvider">
      </imageProvider>
   </extension>
</plugin>
