<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://graphml.graphdrawing.org/xmlns"
            class="org.graphdrawing.graphml.GraphMLPackage"
            genModel="model/graphml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="graphml"
            class="org.graphdrawing.graphml.util.GraphMLResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.w3.org/1999/xlink"
            class="org.w3._1999.xlink.XlinkPackage"
            genModel="model/graphml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="xlink"
            class="org.w3._1999.xlink.util.XlinkResourceFactoryImpl"/>
   </extension>

</plugin>
