<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.kaom.importer.ptolemy.wizards.ImportDiagramWizard"
            icon="icons/importdiagram.gif"
            id="de.cau.cs.kieler.kaom.importer.ptolemy.importWizard"
            name="Import Ptolemy2 Diagram">
      </wizard>
   </extension>
<!-- haf: this is now moved to org.ptolemy.moml
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="platform:/resource/de.cau.cs.kieler.sim.ptolemy/moml.xsd"
            class="ptolemy.Moml.MomlPackage"
            genModel="models/moml.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="moml"
            class="ptolemy.Moml.util.MomlResourceFactoryImpl"/>
   </extension>
-->
</plugin>
