<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.kivi.combinations" name="Combinations" schema="schema/de.cau.cs.kieler.kivi.combinations.exsd" />
   <extension-point id="de.cau.cs.kieler.kivi.effects" name="Effects" schema="schema/de.cau.cs.kieler.kivi.effects.exsd" />
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.cau.cs.kieler.kivi.KiViPlugin">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.cau.cs.kieler.kivi.preferences.ViewmanagementPreferencePage"
            id="de.cau.cs.kieler.kivi.Viewmanagement"
            name="Viewmanagement">
      </page>
   </extension>
   <extension
         point="de.cau.cs.kieler.kivi.combinations">
      <combination
            class="de.cau.cs.kieler.kivi.examples.TestCombination"
            description="A combination for testing."
            name="Test Combination">
      </combination>
   </extension>
   <extension
         point="de.cau.cs.kieler.kivi.combinations">
      <combination
            class="de.cau.cs.kieler.kivi.examples.ZoomCombination"
            description="Listens to automatic layout and zooms to fit the diagram into the view port."
            name="Zoom-To-Fit Combination">
      </combination>
   </extension>
   <extension
         point="de.cau.cs.kieler.kivi.effects">
      <effect
            class="de.cau.cs.kieler.kivi.examples.TextEffect"
            description="An effect for displaying text."
            name="Text Effect">
      </effect>
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.layoutListeners">
      <layoutListener
            class="de.cau.cs.kieler.kivi.examples.LayoutTrigger">
      </layoutListener>
   </extension>

</plugin>
