<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler.kiml.ui.preferences.layout"
            class="de.cau.cs.kieler.kiml.graphviz.layouter.preferences.GraphvizPreferencePage"
            id="de.cau.cs.kieler.kiml.graphviz.preferences"
            name="Graphviz">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.cau.cs.kieler.kiml.graphviz.layouter.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.layoutProviders">
      <category
            id="de.cau.cs.kieler.kiml.categories.graphviz"
            name="Graphviz">
      </category>
      <layoutAlgorithm
            category="de.cau.cs.kieler.kiml.categories.graphviz"
            class="de.cau.cs.kieler.kiml.graphviz.layouter.GraphvizLayoutProvider"
            description="Layered drawings of directed graphs. The algorithm aims edges in the same direction (top to bottom, or left to right) and then attempts to avoid edge crossings and reduce edge length. Edges are routed as spline curves and are thus drawn very smoothly. This algorithm is very suitable for state machine and activity diagrams, where the direction of edges has an important role."
            id="de.cau.cs.kieler.graphviz.dot"
            name="Dot"
            parameter="DOT"
            preview="images/dot.png"
            type="de.cau.cs.kieler.type.layered">
         <supportedDiagram
               priority="10"
               type="de.cau.cs.kieler.layout.diagrams.general">
         </supportedDiagram>
         <supportedDiagram
               priority="10"
               type="de.cau.cs.kieler.layout.diagrams.stateMachine">
         </supportedDiagram>
         <supportedFeature
               feature="SELF_LOOPS"
               priority="1">
         </supportedFeature>
         <supportedFeature
               feature="MULTI_EDGES">
         </supportedFeature>
         <supportedFeature
               feature="EDGE_LABELS"
               priority="1">
         </supportedFeature>
         <supportedFeature
               feature="COMPOUND"
               priority="-3">
         </supportedFeature>
         <supportedFeature
               feature="CLUSTERS">
         </supportedFeature>
         <knownOption
               default="RIGHT"
               option="de.cau.cs.kieler.direction">
         </knownOption>
         <knownOption
               default="20"
               option="de.cau.cs.kieler.spacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.sizeConstraint">
         </knownOption>
         <knownOption
               default="10"
               option="de.cau.cs.kieler.borderSpacing">
         </knownOption>
         <knownOption
               default="1"
               option="de.cau.cs.kieler.labelSpacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.labelDistance">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.labelAngle">
         </knownOption>
         <knownOption
               default="SPLINES"
               option="de.cau.cs.kieler.edgeRouting">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.debugMode">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.layoutHierarchy">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.concentrate">
         </knownOption>
         <knownOption
               default="1.0"
               option="de.cau.cs.kieler.graphviz.iterationsLimit">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.layerSpacingFactor">
         </knownOption>
      </layoutAlgorithm>
      <layoutAlgorithm
            category="de.cau.cs.kieler.kiml.categories.graphviz"
            class="de.cau.cs.kieler.kiml.graphviz.layouter.GraphvizLayoutProvider"
            description="Spring model layouts. Neato attempts to minimize a global energy function, which is equivalent to statistical multi-dimensional scaling. The solution is achieved using stress majorization, though the older Kamada-Kawai algorithm, using steepest descent, is also available."
            id="de.cau.cs.kieler.graphviz.neato"
            name="Neato"
            parameter="NEATO"
            preview="images/neato.png"
            type="de.cau.cs.kieler.type.force">
         <supportedDiagram
               priority="7"
               type="de.cau.cs.kieler.layout.diagrams.general">
         </supportedDiagram>
         <supportedDiagram
               priority="10"
               type="de.cau.cs.kieler.layout.diagrams.usecaseDiagram">
         </supportedDiagram>
         <supportedFeature
               feature="SELF_LOOPS"
               priority="1">
         </supportedFeature>
         <supportedFeature
               feature="MULTI_EDGES"
               priority="-2">
         </supportedFeature>
         <supportedFeature
               feature="EDGE_LABELS"
               priority="1">
         </supportedFeature>
         <knownOption
               default="40"
               option="de.cau.cs.kieler.spacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.sizeConstraint">
         </knownOption>
         <knownOption
               default="10"
               option="de.cau.cs.kieler.borderSpacing">
         </knownOption>
         <knownOption
               default="1"
               option="de.cau.cs.kieler.randomSeed">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.interactive">
         </knownOption>
         <knownOption
               default="1"
               option="de.cau.cs.kieler.labelSpacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.labelDistance">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.labelAngle">
         </knownOption>
         <knownOption
               default="SPLINES"
               option="de.cau.cs.kieler.edgeRouting">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.debugMode">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.concentrate">
         </knownOption>
         <knownOption
               default="0.0001"
               option="de.cau.cs.kieler.graphviz.epsilon">
         </knownOption>
         <knownOption
               default="200"
               option="de.cau.cs.kieler.graphviz.maxiter">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.neatoModel">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.overlapMode">
         </knownOption>
         <knownOption
               default="false"
               option="de.cau.cs.kieler.separateConnComp">
         </knownOption>
      </layoutAlgorithm>
      <layoutAlgorithm
            category="de.cau.cs.kieler.kiml.categories.graphviz"
            class="de.cau.cs.kieler.kiml.graphviz.layouter.GraphvizLayoutProvider"
            description="Spring model layouts similar to those of Neato, but does this by reducing forces rather than working with energy. Fdp implements the Fruchterman-Reingold heuristic including a multigrid solver that handles larger graphs and clustered undirected graphs."
            id="de.cau.cs.kieler.graphviz.fdp"
            name="FDP"
            parameter="FDP"
            preview="images/fdp.png"
            type="de.cau.cs.kieler.type.force">
         <supportedDiagram
               priority="4"
               type="de.cau.cs.kieler.layout.diagrams.general">
         </supportedDiagram>
         <supportedFeature
               feature="SELF_LOOPS"
               priority="1">
         </supportedFeature>
         <supportedFeature
               feature="MULTI_EDGES"
               priority="-2">
         </supportedFeature>
         <supportedFeature
               feature="EDGE_LABELS"
               priority="1">
         </supportedFeature>
         <supportedFeature
               feature="CLUSTERS">
         </supportedFeature>
         <knownOption
               default="40"
               option="de.cau.cs.kieler.spacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.sizeConstraint">
         </knownOption>
         <knownOption
               default="10"
               option="de.cau.cs.kieler.borderSpacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.interactive">
         </knownOption>
         <knownOption
               default="1"
               option="de.cau.cs.kieler.labelSpacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.labelDistance">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.labelAngle">
         </knownOption>
         <knownOption
               default="SPLINES"
               option="de.cau.cs.kieler.edgeRouting">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.debugMode">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.layoutHierarchy">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.concentrate">
         </knownOption>
         <knownOption
               default="600"
               option="de.cau.cs.kieler.graphviz.maxiter">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.overlapMode">
         </knownOption>
         <knownOption
               default="false"
               option="de.cau.cs.kieler.separateConnComp">
         </knownOption>
      </layoutAlgorithm>
      <layoutAlgorithm
            category="de.cau.cs.kieler.kiml.categories.graphviz"
            class="de.cau.cs.kieler.kiml.graphviz.layouter.GraphvizLayoutProvider"
            description="Radial layouts, after Wills &apos;97. The nodes are placed on concentric circles depending on their distance from a given root node. The algorithm is designed to handle not only small graphs, but also very large ones."
            id="de.cau.cs.kieler.graphviz.twopi"
            name="Twopi"
            parameter="TWOPI"
            preview="images/twopi.png"
            type="de.cau.cs.kieler.type.tree">
         <supportedFeature
               feature="SELF_LOOPS"
               priority="1">
         </supportedFeature>
         <supportedFeature
               feature="MULTI_EDGES">
         </supportedFeature>
         <supportedFeature
               feature="EDGE_LABELS"
               priority="1">
         </supportedFeature>
         <knownOption
               default="60"
               option="de.cau.cs.kieler.spacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.sizeConstraint">
         </knownOption>
         <knownOption
               default="10"
               option="de.cau.cs.kieler.borderSpacing">
         </knownOption>
         <knownOption
               default="1"
               option="de.cau.cs.kieler.labelSpacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.labelDistance">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.labelAngle">
         </knownOption>
         <knownOption
               default="SPLINES"
               option="de.cau.cs.kieler.edgeRouting">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.debugMode">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.concentrate">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.overlapMode">
         </knownOption>
      </layoutAlgorithm>
      <layoutAlgorithm
            category="de.cau.cs.kieler.kiml.categories.graphviz"
            class="de.cau.cs.kieler.kiml.graphviz.layouter.GraphvizLayoutProvider"
            description="Circular layout, after Six and Tollis &apos;99, Kaufmann and Wiese &apos;02. The algorithm finds biconnected components and arranges each component in a circle, trying to minimize the number of crossings inside the circle. This is suitable for certain diagrams of multiple cyclic structures such as certain telecommunications networks."
            id="de.cau.cs.kieler.graphviz.circo"
            name="Circo"
            parameter="CIRCO"
            preview="images/circo.png"
            type="de.cau.cs.kieler.type.circle">
         <supportedFeature
               feature="SELF_LOOPS"
               priority="1">
         </supportedFeature>
         <supportedFeature
               feature="MULTI_EDGES"
               priority="-2">
         </supportedFeature>
         <supportedFeature
               feature="EDGE_LABELS"
               priority="1">
         </supportedFeature>
         <knownOption
               default="40"
               option="de.cau.cs.kieler.spacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.sizeConstraint">
         </knownOption>
         <knownOption
               default="10"
               option="de.cau.cs.kieler.borderSpacing">
         </knownOption>
         <knownOption
               default="1"
               option="de.cau.cs.kieler.labelSpacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.labelDistance">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.labelAngle">
         </knownOption>
         <knownOption
               default="SPLINES"
               option="de.cau.cs.kieler.edgeRouting">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.debugMode">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.concentrate">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.graphviz.overlapMode">
         </knownOption>
         <knownOption
               default="false"
               option="de.cau.cs.kieler.separateConnComp">
         </knownOption>
      </layoutAlgorithm>
      <layoutOption
            appliesTo="edges"
            default="1.0"
            description="Distance of head / tail positioned edge labels to the source or target node"
            id="de.cau.cs.kieler.graphviz.labelDistance"
            name="Label Distance"
            type="float">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="edges"
            default="-25.0"
            description="Angle between head / tail positioned edge labels and the corresponding edge."
            id="de.cau.cs.kieler.graphviz.labelAngle"
            name="Label Angle"
            type="float">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="false"
            description="Merges multiedges into a single edge and causes partially parallel edges to share part of their paths."
            id="de.cau.cs.kieler.graphviz.concentrate"
            name="Concentrate Edges"
            type="boolean">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="-1"
            description="Terminating condition. If the length squared of all energy gradients are &lt; epsilon, the algorithm stops."
            id="de.cau.cs.kieler.graphviz.epsilon"
            name="Epsilon"
            type="float">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="-1"
            description="The maximum number of iterations."
            id="de.cau.cs.kieler.graphviz.maxiter"
            name="Max. Iterations"
            type="int">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="-1.0"
            description="Multiplicative scale factor for the maximal number of iterations used during crossing minimization, node ranking, and node positioning."
            id="de.cau.cs.kieler.graphviz.iterationsLimit"
            name="Iterations Factor"
            type="float">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            class="de.cau.cs.kieler.kiml.graphviz.dot.transform.NeatoModel"
            default="SHORTPATH"
            description="Specifies how the distance matrix is computed for the input graph."
            id="de.cau.cs.kieler.graphviz.neatoModel"
            name="Distance Model"
            type="enum">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            class="de.cau.cs.kieler.kiml.graphviz.dot.transform.OverlapMode"
            default="PRISM"
            description="Determines if and how node overlaps should be removed."
            id="de.cau.cs.kieler.graphviz.overlapMode"
            name="Overlap Removal"
            type="enum">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="1.0"
            description="Factor for the spacing of different layers (ranks)"
            id="de.cau.cs.kieler.graphviz.layerSpacingFactor"
            name="Layer Spacing Factor"
            type="float">
      </layoutOption>
   </extension>

</plugin>
