<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/introContent.xml">
      </configExtension>
   </extension>
   <extension
         point="de.cau.cs.kieler.kex">
      <category
            icon="icons/graphs16.png"
            id="de.cau.cs.kieler.keg"
            title="KIELER Graphs Editor">
      </category>
   </extension>

</plugin>
