<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="de.cau.cs.kieler.core.kivi.combinations">
    <combination
            active="true"
            class="de.cau.cs.kieler.kiml.kivi.RandomLayoutCombination"
            description="Apply a random layout on all components of the model. Can be used to experiment with other layouters afterwards."
            name="Random Layout">
    </combination>
    <combination
          active="true"
          class="de.cau.cs.kieler.kiml.kivi.LayoutAfterDiagramReinitCombination"
          description="Performs an automatic layout after a diagram has been reinitialized from its model file"
          name="Layout After Diagram Reinitialization">
    </combination>
     <combination
            active="true"
            class="de.cau.cs.kieler.kiml.kivi.LayoutAfterCollapseExpandCombination"
            description="Call automatic layout after the collapsed state of a compartment has been changed."
            name="Layout after Collapse/Expand">
      </combination>
 </extension>

</plugin>
