<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://kieler.cs.cau.de/GraphvizDot" 
       class = "de.cau.cs.kieler.kiml.graphviz.dot.dot.DotPackage"
       genModel = "de/cau/cs/kieler/kiml/graphviz/dot/GraphvizDot.genmodel" /> 
	
  </extension>
  <extension
        point="de.cau.cs.kieler.kiml.service.graphTransformers">
     <handler
           class="de.cau.cs.kieler.kiml.graphviz.dot.transform.DotHandler"
           description="The Graphviz Dot format. See http://www.graphviz.org/"
           id="org.graphviz.dot"
           name="Dot">
     </handler>
  </extension>



</plugin>
