<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.ui.diagramConnectors">
      <editorConnector
            class="de.cau.cs.kieler.papyrus.MultiPartDiagramConnector">
      </editorConnector>
   </extension>
   <extension
         id="de.cau.cs.kieler.papyrus.layout.class"
         name="Class Diagram Layout"
         point="de.cau.cs.kieler.kiml.layout.layoutInfo">
      <option
            class="org.eclipse.papyrus.diagram.clazz.edit.parts.ModelEditPart"
            option="de.cau.cs.kieler.layout.options.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.classDiagram">
      </option>
      <option
            class="org.eclipse.papyrus.diagram.clazz.edit.parts.ModelEditPart"
            option="de.cau.cs.kieler.layout.options.minSpacing"
            value="30.0">
      </option>
      <option
            class="org.eclipse.papyrus.diagram.clazz.custom.edit.part.CPackageEditPart"
            option="de.cau.cs.kieler.layout.options.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.classDiagram">
      </option>
      <option
            class="org.eclipse.papyrus.diagram.clazz.custom.edit.part.CPackageEditPart"
            option="de.cau.cs.kieler.layout.options.minSpacing"
            value="30.0">
      </option>
      <option
            class="org.eclipse.papyrus.diagram.clazz.custom.edit.part.CModelEditPart"
            option="de.cau.cs.kieler.layout.options.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.classDiagram">
      </option>
      <option
            class="org.eclipse.papyrus.diagram.clazz.custom.edit.part.CModelEditPart"
            option="de.cau.cs.kieler.layout.options.minSpacing"
            value="30.0">
      </option>
   </extension>
   <extension
         id="de.cau.cs.kieler.papyrus.layout.useCase"
         name="Use Case Diagram Layout"
         point="de.cau.cs.kieler.kiml.layout.layoutInfo">
      <option
            class="org.eclipse.papyrus.diagram.usecase.edit.parts.UseCaseDiagramEditPart"
            option="de.cau.cs.kieler.layout.options.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.usecaseDiagram">
      </option>
      <option
            class="org.eclipse.papyrus.diagram.usecase.edit.parts.UseCaseDiagramEditPart"
            option="de.cau.cs.kieler.layout.options.minSpacing"
            value="40.0">
      </option>
      <option
            class="org.eclipse.papyrus.diagram.usecase.edit.parts.UseCaseDiagramEditPart"
            option="de.cau.cs.kieler.layout.options.borderSpacing"
            value="20.0">
      </option>
      <option
            class="org.eclipse.papyrus.diagram.usecase.edit.parts.ComponentEditPart"
            option="de.cau.cs.kieler.layout.options.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.usecaseDiagram">
      </option>
      <option
            class="org.eclipse.papyrus.diagram.usecase.edit.parts.ComponentEditPart"
            option="de.cau.cs.kieler.layout.options.minSpacing"
            value="40.0">
      </option>
      <option
            class="org.eclipse.papyrus.diagram.usecase.edit.parts.ComponentEditPart"
            option="de.cau.cs.kieler.layout.options.borderSpacing"
            value="20.0">
      </option>
      <option
            class="org.eclipse.papyrus.diagram.usecase.edit.parts.PackageEditPartTN"
            option="de.cau.cs.kieler.layout.options.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.usecaseDiagram">
      </option>
      <option
            class="org.eclipse.papyrus.diagram.usecase.edit.parts.PackageEditPartTN"
            option="de.cau.cs.kieler.layout.options.minSpacing"
            value="40.0">
      </option>
      <option
            class="org.eclipse.papyrus.diagram.usecase.edit.parts.PackageEditPartTN"
            option="de.cau.cs.kieler.layout.options.borderSpacing"
            value="20.0">
      </option>
   </extension>

</plugin>
