<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="de.cau.cs.kieler.kiml.ui.layoutManagers">
    <manager
          class="de.cau.cs.kieler.kiml.gmf.GmfDiagramLayoutManager">
    </manager>
 </extension>
 <extension
       point="de.cau.cs.kieler.kiml.layoutInfo">
      <option
            class="org.eclipse.emf.ecoretools.diagram.edit.parts.EClassESuperTypesEditPart"
            option="de.cau.cs.kieler.edgeType"
            value="GENERALIZATION">
      </option>
      <option
            class="org.eclipse.gmf.ecore.edit.parts.EClassESuperTypesEditPart"
            option="de.cau.cs.kieler.edgeType"
            value="GENERALIZATION">
      </option>
      <option
            class="org.eclipse.gmf.runtime.diagram.ui.editparts.NoteEditPart"
            option="de.cau.cs.kieler.commentBox"
            value="true">
      </option>
 </extension>
  <extension
       point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
    <editpolicyProvider
          class="de.cau.cs.kieler.kiml.gmf.LayoutEditPolicyProvider">
       <Priority
             name="Lowest">
       </Priority>
    </editpolicyProvider>
 </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="de.cau.cs.kieler"
           defaultHandler="de.cau.cs.kieler.kiml.gmf.LayoutDiagramFileHandler"
           id="de.cau.cs.kieler.kiml.gmf.layoutDiagramFile"
           name="Layout Diagram File">
     </command>
  </extension>
 <extension
       point="de.cau.cs.kieler.kiml.layoutProviders">
    <layoutAlgorithm
          class="de.cau.cs.kieler.kiml.gmf.layouter.Draw2DLayoutProvider"
          description="&quot;Directed Graph Layout&quot; provided by the Draw2D framework. This is the same algorithm that is used by the standard layout button of GMF diagrams."
          id="de.cau.cs.kieler.draw2d"
          name="Draw2D Layout"
          preview="images/draw2d.png"
          type="de.cau.cs.kieler.type.layered">
       <supportedDiagram
             priority="1"
             type="de.cau.cs.kieler.layout.diagrams.general">
       </supportedDiagram>
       <supportedFeature
             feature="MULTI_EDGES">
       </supportedFeature>
       <knownOption
             default="16"
             option="de.cau.cs.kieler.spacing">
       </knownOption>
       <knownOption
             default="16"
             option="de.cau.cs.kieler.borderSpacing">
       </knownOption>
       <knownOption
             default="RIGHT"
             option="de.cau.cs.kieler.direction">
       </knownOption>
       <knownOption
             option="de.cau.cs.kieler.sizeConstraint">
       </knownOption>
    </layoutAlgorithm>
 </extension>

</plugin>
