<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="de.cau.cs.kieler.kiml.ui.layoutManagers">
    <manager
          class="de.cau.cs.kieler.kiml.gmf.GmfDiagramLayoutManager">
    </manager>
 </extension>
 <extension
       point="de.cau.cs.kieler.kiml.layoutInfo">
      <option
            class="org.eclipse.emf.ecoretools.diagram.edit.parts.EClassESuperTypesEditPart"
            option="de.cau.cs.kieler.edgeType"
            value="GENERALIZATION">
      </option>
      <option
            class="org.eclipse.gmf.ecore.edit.parts.EClassESuperTypesEditPart"
            option="de.cau.cs.kieler.edgeType"
            value="GENERALIZATION">
      </option>
      <option
            class="org.eclipse.gmf.runtime.diagram.ui.editparts.NoteEditPart"
            option="de.cau.cs.kieler.commentBox"
            value="true">
      </option>
 </extension>
  <extension
        point="de.cau.cs.kieler.core.kivi.combinations">
     <combination
            active="true"
            class="de.cau.cs.kieler.kiml.gmf.combinations.LayoutAfterCollapseExpandCombination"
            description="Call automatic layout after the collapsed state of a compartment has been changed."
            name="Layout after Collapse/Expand">
      </combination>
  </extension>
 <extension
       point="org.eclipse.emf.ecore.generated_package">
    <package
          class="de.cau.cs.kieler.kiml.gmf.layoutoptions.LayoutOptionsPackage"
          genModel="model/layoutoptions.genmodel"
          uri="http://kieler.cs.cau.de/LayoutOptions">
    </package>
 </extension>
  <extension
       point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
    <editpolicyProvider
          class="de.cau.cs.kieler.kiml.gmf.LayoutEditPolicyProvider">
       <Priority
             name="Lowest">
       </Priority>
    </editpolicyProvider>
 </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="de.cau.cs.kieler"
           defaultHandler="de.cau.cs.kieler.kiml.gmf.LayoutDiagramFileHandler"
           id="de.cau.cs.kieler.kiml.gmf.layoutDiagramFile"
           name="Layout Diagram File">
     </command>
  </extension>

</plugin>
