<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://de.cau.cs.kieler.kwebs.service.data/2011-07-25/ServiceData/1.0"
            class="de.cau.cs.kieler.kwebs.servicedata.ServiceDataPackage"
            genModel="model/ServiceData.genmodel"/>
   </extension>

</plugin>
