<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.service.graphTransformers">
      <handler
            class="de.cau.cs.kieler.kiml.formats.graphml.GraphMLHandler"
            description="The Graph Markup Language. See http://graphml.graphdrawing.org/"
            id="org.graphdrawing.graphml"
            name="GraphML">
      </handler>
      <handler
            class="de.cau.cs.kieler.kiml.formats.matrix.MatrixHandler"
            description="The Matrix Market format. See http://math.nist.gov/MatrixMarket/"
            id="gov.nist.math.matrix"
            name="Matrix">
      </handler>
      <handler
            class="de.cau.cs.kieler.kiml.formats.ogml.OgmlHandler"
            description="The Open Graph Markup Language."
            id="net.ogdf.ogml"
            name="OGML">
      </handler>
   </extension>

</plugin>
