<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layoutProviders">
      <layoutAlgorithm
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.klay.tree.TreeLayoutProvider"
            description="Tree-based layout algorithm of the KIELER Layouters project."
            id="de.cau.cs.kieler.klay.tree"
            name="KLay Mr. Tree"
            type="de.cau.cs.kieler.type.tree">
         <knownOption
               default="20"
               option="de.cau.cs.kieler.spacing">
         </knownOption>
         <knownOption
               default="20"
               option="de.cau.cs.kieler.borderSpacing">
         </knownOption>
         <knownOption
               default="true"
               option="de.cau.cs.kieler.separateConnComp">
         </knownOption>
         <knownOption
               default="1.0"
               option="de.cau.cs.kieler.aspectRatio">
         </knownOption>
         <knownOption
               default="RIGHT"
               option="de.cau.cs.kieler.direction">
         </knownOption>
         <knownOption
               default="false"
               option="de.cau.cs.kieler.debugMode">
         </knownOption>
      </layoutAlgorithm>
   </extension>

</plugin>
