<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layoutProviders">
      <layoutAlgorithm
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.klay.tree.TreeLayoutProvider"
            description="Tree-based layout algorithm of the KIELER Layouters project."
            id="de.cau.cs.kieler.klay.tree"
            name="KLay Mr. Tree"
            type="de.cau.cs.kieler.type.tree">
      </layoutAlgorithm>
   </extension>

</plugin>
