<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.formats.graphFormats">
      <handler
            class="de.cau.cs.kieler.formats.sd.SequenceDiagramFormatHandler"
            extensions="sd"
            id="de.cau.cs.kieler.formats.sd"
            name="KieSL Sequence Diagrams">
      </handler>
   </extension>
</plugin>
