<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="de.cau.cs.kieler"
            type="new"
            wizardId="de.cau.cs.kieler.keg.diagram.part.GraphsCreationWizardID">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="de.cau.cs.kieler"
            type="new"
            wizardId="de.cau.cs.kieler.keg.diagram.custom.randomKEGGraph">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.ui.layoutManagers">
      <manager
            class="de.cau.cs.kieler.keg.diagram.custom.GraphsDiagramLayoutManager"
            priority="1">
      </manager>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.keg.diagram.custom.wizards.RandomGraphWizard"
            hasPages="true"
            icon="icons/obj16/random.gif"
            id="de.cau.cs.kieler.keg.diagram.custom.randomKEGGraph"
            name="Random KEG Graph"
            project="false">
      </wizard>
   </extension>

</plugin>
