<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layoutInfo">
      <semanticOption
            class="de.cau.cs.kieler.keg.Node"
            config="de.cau.cs.kieler.keg.diagram.custom.HypernodeLayoutConfig">
      </semanticOption>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.cau.cs.kieler"
            defaultHandler="de.cau.cs.kieler.keg.diagram.custom.commands.InitKegDiagramHandler"
            id="de.cau.cs.kieler.keg.ui.reinitDiagram"
            name="%reinitDiagramCommand.name">
            <commandParameter
                  id="de.cau.cs.kieler.keg.ui.reinitDiagram.source"
                  name="Source"
                  optional="true">
            </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="de.cau.cs.kieler"
            type="new"
            wizardId="de.cau.cs.kieler.keg.diagram.part.GraphsCreationWizardID">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="de.cau.cs.kieler"
            type="new"
            wizardId="de.cau.cs.kieler.keg.diagram.custom.randomKEGGraph">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.keg.diagram.custom.wizards.RandomGraphWizard"
            hasPages="true"
            icon="icons/obj16/KEGDiagramFile.gif"
            id="de.cau.cs.kieler.keg.diagram.custom.randomKEGGraph"
            name="Random KEG Graph"
            project="false">
      </wizard>
   </extension>
   <extension
      point="org.eclipse.ui.menus">
      
      <menuContribution
         locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         
         <command
            commandId="de.cau.cs.kieler.keg.ui.reinitDiagram"
            label="%reinitDiagramCommand.name"
            style="push"
            tooltip="%reinitDiagramCommand.tooltip">
            
            <visibleWhen
               checkEnabled="false">
               
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                     type="org.eclipse.core.resources.IResource">
                     
                     <test
                           forcePluginActivation="false"
                           property="org.eclipse.core.resources.extension"
                           value="keg">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
