<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         point="de.cau.cs.kieler.formats.graphFormats">
      <handler
            class="de.cau.cs.kieler.formats.json.JsonFormatHandler"
            description="Graph format based on the JavaScript Object Notation. We recommend this format in conjunction with our HTTP based layout service. See http://rtsys.informatik.uni-kiel.de/confluence/x/CAKE for further information."
            extensions="json"
            id="org.json"
            name="JSON">
      </handler>
   </extension>
</plugin>
