<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="evolutionData" name="Evolution Data" schema="schema/evolutionData.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.kiml.evol.ui.EvolView"
            icon="icons/gazelle16.png"
            id="de.cau.cs.kieler.kiml.evol.evolView"
            name="Evolution"
            restorable="true">
      </view>
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.evol.evolutionData">
      <data
            distribution="GAUSSIAN"
            lowerBound="0.001"
            name="Aspect Ratio"
            option="de.cau.cs.kieler.aspectRatio"
            upperBound="1000.0">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0"
            option="de.cau.cs.kieler.kiml.ogdf.option.davidsonHarel.desiredEdgeLength"
            upperBound="1.0e7">
      </data>
      <data
            distribution="UNIFORM"
            option="de.cau.cs.kieler.klay.layered.distributeNodes">
      </data>
      <data
            distribution="UNIFORM"
            option="de.cau.cs.kieler.klay.layered.enhanceLayering">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0.0"
            option="de.cau.cs.kieler.ogdf.labelDistance"
            upperBound="1.0e7">
      </data>
      <data
            distribution="UNIFORM"
            enum="de.cau.cs.kieler.kiml.layout.options.LayoutDirection"
            name="Layout Direction"
            option="de.cau.cs.kieler.direction">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0"
            option="de.cau.cs.kieler.kiml.ogdf.option.fmmm.maxIterFactor"
            upperBound="20000">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0"
            option="de.cau.cs.kieler.klay.layered.minimalAngle"
            upperBound="360">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="1.0"
            name="Min Dist CC"
            option="de.cau.cs.kieler.kiml.ogdf.option.minDistCC"
            upperBound="1.0e7">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="1.0"
            name = "Min. Dist. Circle"
            option="de.cau.cs.kieler.kiml.ogdf.option.minDistCircle"
            upperBound="1.0e7">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="1.0"
            name = "Min. Dist. Level"
            option="de.cau.cs.kieler.kiml.ogdf.option.minDistLevel"
            upperBound="1.0e7">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="1.0"
            option="de.cau.cs.kieler.kiml.ogdf.option.minDistSibling"
            upperBound="1.0e7">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0.0"
            name="Object Spacing"
            option="de.cau.cs.kieler.spacing"
            upperBound="1.0e7">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0.0"
            name="Post Spring Strength"
            option="de.cau.cs.kieler.kiml.ogdf.option.fmmm.postSpringStrength"
            upperBound="1.0e7">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="1"
            option="de.cau.cs.kieler.ogdf.iterations"
            upperBound="20000">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0.0"
            name="Post Strength of Repulsive Forces"
            option="de.cau.cs.kieler.kiml.ogdf.option.fmmm.postStrengthOfRepForces"
            upperBound="1.0e7">
      </data>
      <data
            distribution="UNIFORM"
            name="Quality vs. Speed"
            option="de.cau.cs.kieler.ogdf.fmmm.qualityVsSpeed">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="1"
            option="de.cau.cs.kieler.kiml.ogdf.option.fmmm.minGraphSize"
            upperBound="10000">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0"
            name="Repulsive Forces Strength"
            option="de.cau.cs.kieler.kiml.ogdf.option.fmmm.repForcesStrength"
            upperBound="10000">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0"
            name="Steps for Rotating Components"
            option="de.cau.cs.kieler.kiml.ogdf.option.fmmm.stepsForRotatingComponents"
            upperBound="1000">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0.0"
            name="Stop Criteria Threshold"
            option="de.cau.cs.kieler.kiml.ogdf.option.fmmm.threshold"
            upperBound="10.0">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0.0"
            name="Spring Strength"
            option="de.cau.cs.kieler.kiml.ogdf.option.fmmm.springStrength"
            upperBound="1.0e7">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0.1"
            name="Unit Edge Length"
            option="de.cau.cs.kieler.kiml.ogdf.option.fmmm.unitEdgeLength">
      </data>
      <data
            distribution="UNIFORM"
            name="Use Cool Temperature"
            option="de.cau.cs.kieler.kiml.ogdf.option.fmmm.coolTemperature">            
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0"
            option="de.cau.cs.kieler.kiml.ogdf.option.fmmm.randomTries"
            upperBound="20000">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="1"
            option="de.cau.cs.kieler.kiml.ogdf.option.fmmm.frGridQuotient"
            upperBound="20000">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0.0"
            option="de.cau.cs.kieler.kiml.ogdf.option.fmmm.coolValue"
            upperBound="1.0e7">
      </data>
      <data
            distribution="UNIFORM"
            name="Costs"
            option="de.cau.cs.kieler.ogdf.davidsonHarel.costs">
      </data>
      <data
            distribution="UNIFORM"
            option="de.cau.cs.kieler.edgeRouting">
      </data>
      <data
            distribution="UNIFORM"
            name="Expand Nodes"
            option="de.cau.cs.kieler.expandNodes">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0"
            name="Fine Tuning Iterations"
            option="de.cau.cs.kieler.kiml.ogdf.option.fmmm.fineTuningIterations"
            upperBound="10000">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0.0"
            name="Fine Tuning Scalar"
            option="de.cau.cs.kieler.kiml.ogdf.option.fmmm.fineTuneScalar"
            upperBound="100">
      </data>
      <data
            distribution="UNIFORM"
            option="de.cau.cs.kieler.ogdf.davidsonHarel.speed">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="1"
            option="de.cau.cs.kieler.kiml.ogdf.option.fmmm.fixedIterations"
            upperBound="20000">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0"
            name="Force Scaling Factor"
            option="de.cau.cs.kieler.kiml.ogdf.option.fmmm.forceScalingFactor"
            upperBound="1000">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0"
            name="Border Spacing"
            option="de.cau.cs.kieler.borderSpacing">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0"
            option="de.cau.cs.kieler.klay.layered.thoroughness"
            upperBound="1000">
      </data>
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.service.analysisProviders">
      <category
            description="Analysis providers that yield a value between 0.0 and 1.0"
            id="de.cau.cs.kieler.kiml.evol.metricCategory"
            name="Normalized Metric">
      </category>
      <analysis
            category="de.cau.cs.kieler.kiml.evol.metricCategory"
            class="de.cau.cs.kieler.kiml.evol.metrics.AreaMetric"
            description="Measures the area extent of the given graph layout."
            id="de.cau.cs.kieler.kiml.evol.areaMetric"
            name="Area Metric">
         <dependency
               analysis="de.cau.cs.kieler.kiml.grana.area">
         </dependency>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.evol.metricCategory"
            class="de.cau.cs.kieler.kiml.evol.metrics.BendsMetric"
            description="Calculates a metric for the number of bends in the graph."
            id="de.cau.cs.kieler.kiml.evol.bendsMetric"
            name="Bends Metric">
         <dependency
               analysis="de.cau.cs.kieler.kiml.grana.bendpointCount">
         </dependency>
         <dependency
               analysis="de.cau.cs.kieler.kiml.grana.edgeCount">
         </dependency>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.evol.metricCategory"
            class="de.cau.cs.kieler.kiml.evol.metrics.AspectRatioMetric"
            description="Computes the aspect ratio of the given graph layout."
            id="de.cau.cs.kieler.kiml.evol.aspectRatioMetric"
            name="Aspect Ratio Metric">
         <dependency
               analysis="de.cau.cs.kieler.kiml.grana.area">
         </dependency>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.evol.metricCategory"
            class="de.cau.cs.kieler.kiml.evol.metrics.EdgeCrossingsMetric"
            description="Calculates a normalized &quot;crosslessness&quot; metric, based upon the number of crossings."
            id="de.cau.cs.kieler.kiml.evol.edgeCrossingsMetric"
            name="Edge Crossings Metric">
         <dependency
               analysis="de.cau.cs.kieler.kiml.grana.bendpointCount">
         </dependency>
         <dependency
               analysis="de.cau.cs.kieler.kiml.grana.edgeCount">
         </dependency>
         <dependency
               analysis="de.cau.cs.kieler.kiml.grana.edgeCrossings">
         </dependency>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.evol.metricCategory"
            class="de.cau.cs.kieler.kiml.evol.metrics.EdgeUniformityMetric"
            description="A layout metric that computes the edge length uniformity of the graph layout."
            id="de.cau.cs.kieler.kiml.evol.edgeUniformityMetric"
            name="Edge Uniformity Metric">
         <dependency
               analysis="de.cau.cs.kieler.kiml.grana.edgeCount">
         </dependency>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.evol.metricCategory"
            class="de.cau.cs.kieler.kiml.evol.metrics.UpwardnessMetric.UpMetric"
            description="Measures the fraction of upward edges."
            id="de.cau.cs.kieler.kiml.evol.upwardnessMetric"
            name="Upwardness Metric">
         <dependency
               analysis="de.cau.cs.kieler.kiml.grana.edgeCount">
         </dependency>
         <dependency
               analysis="de.cau.cs.kieler.kiml.grana.edgeDirections">
         </dependency>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.evol.metricCategory"
            class="de.cau.cs.kieler.kiml.evol.metrics.UpwardnessMetric.DownMetric"
            description="Measures the fraction of downward edges."
            id="de.cau.cs.kieler.kiml.evol.downwardnessMetric"
            name="Downwardness Metric">
         <dependency
               analysis="de.cau.cs.kieler.kiml.grana.edgeCount">
         </dependency>
         <dependency
               analysis="de.cau.cs.kieler.kiml.grana.edgeDirections">
         </dependency>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.evol.metricCategory"
            class="de.cau.cs.kieler.kiml.evol.metrics.UpwardnessMetric.LeftMetric"
            description="Measures the fraction of leftward edges."
            id="de.cau.cs.kieler.kiml.evol.leftwardnessMetric"
            name="Leftwardness Metric">
         <dependency
               analysis="de.cau.cs.kieler.kiml.grana.edgeCount">
         </dependency>
         <dependency
               analysis="de.cau.cs.kieler.kiml.grana.edgeDirections">
         </dependency>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.evol.metricCategory"
            class="de.cau.cs.kieler.kiml.evol.metrics.UpwardnessMetric.RightMetric"
            description="Measures the fraction of rightward edges."
            id="de.cau.cs.kieler.kiml.evol.rightwardnessMetric"
            name="Rightwardness Metric">
         <dependency
               analysis="de.cau.cs.kieler.kiml.grana.edgeCount">
         </dependency>
         <dependency
               analysis="de.cau.cs.kieler.kiml.grana.edgeDirections">
         </dependency>
      </analysis>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.cau.cs.kieler.kiml.evol.handlers.AutoRateAllHandler"
            description="computes automatic rating for all individuals"
            id="de.cau.cs.kieler.kiml.evol.command.autoRateAll"
            name="Auto-rate All">
      </command>
      <command
            defaultHandler="de.cau.cs.kieler.kiml.evol.handlers.EvolveHandler"
            description="proceeds to the next generation"
            id="de.cau.cs.kieler.kiml.evol.evolve"
            name="Evolve">
         <commandParameter
               id="de.cau.cs.kieler.kiml.evol.steps"
               name="Steps"
               optional="true">
         </commandParameter>
         <commandParameter
               id="de.cau.cs.kieler.kiml.evol.stepsBeforeAutoRating"
               name="Steps before Auto-rating"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.cau.cs.kieler.kiml.evol.handlers.ResetHandler"
            description="restarts with a new population"
            id="de.cau.cs.kieler.kiml.evol.reset"
            name="Reset">
      </command>
      <command
            defaultHandler="de.cau.cs.kieler.kiml.evol.handlers.ChangeRatingHandler"
            description="changes the rating of the current individual"
            id="de.cau.cs.kieler.kiml.evol.changeRating"
            name="Change Rating">
         <commandParameter
               id="de.cau.cs.kieler.kiml.evol.amount"
               name="Amount"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.cau.cs.kieler.kiml.evol.handlers.InfoHandler"
            description="Display detailed information about the population."
            id="de.cau.cs.kieler.kiml.evol.info"
            name="Info">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:de.cau.cs.kieler.kiml.evol.evolView">
         <command
               commandId="de.cau.cs.kieler.kiml.evol.evolve"
               icon="icons/step16.png"
               label="Evolve 1"
               style="push"
               tooltip="Proceed to the next generation.">
            <parameter
                  name="de.cau.cs.kieler.kiml.evol.steps"
                  value="1">
            </parameter>
         </command>
         <command
               commandId="de.cau.cs.kieler.kiml.evol.changeRating"
               icon="icons/thumbsup16.png"
               label="Favor"
               style="push"
               tooltip="Promote the selected individual.">
            <parameter
                  name="de.cau.cs.kieler.kiml.evol.amount"
                  value="0.06">
            </parameter>
         </command>
         <command
               commandId="de.cau.cs.kieler.kiml.evol.changeRating"
               icon="icons/thumbsdn16.png"
               label="Disregard"
               style="push"
               tooltip="Demote the selected individual.">
            <parameter
                  name="de.cau.cs.kieler.kiml.evol.amount"
                  value="-0.06">
            </parameter>
         </command>
         <command
               commandId="de.cau.cs.kieler.kiml.evol.command.autoRateAll"
               icon="icons/autorate16.png"
               label="Auto-rate all"
               style="push"
               tooltip="Auto-rate all individuals.">
         </command>
         <command
               commandId="de.cau.cs.kieler.kiml.evol.reset"
               icon="icons/reset16.png"
               label="Reset"
               style="push"
               tooltip="Restart with a new population.">
         </command>
         <command
               commandId="de.cau.cs.kieler.kiml.evol.info"
               icon="icons/info16.png"
               label="Info"
               style="push"
               tooltip="Display detailed information about the population.">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.kiml.evol.ui.EvolPreferencePage"
            id="de.cau.cs.kieler.kiml.evol.preferences.evol"
            name="KIML Evolutionary">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.cau.cs.kieler.kiml.evol.EvolPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.cau.cs.kieler.kiml.evol.elementSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
   </extension>

</plugin>
