<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="evolutionData" name="Evolution Data" schema="schema/evolutionData.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.cau.cs.kieler.kiml.evol.ui.TestView"
            icon="icons/gazelle.png"
            id="de.cau.cs.kieler.kiml.evol.wildlife"
            name="WildLife"
            restorable="true">
      </view>
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.evol.evolutionData">
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.grana.analysisProviders">
      <analysisProvider
            class="de.cau.cs.kieler.kiml.evol.grana.BendsMetric"
            description="description"
            id="de.cau.cs.kieler.kiml.evol.bendsMetric"
            name="Bends Metric">
      </analysisProvider>
      <analysisProvider
            class="de.cau.cs.kieler.kiml.evol.grana.NarrownessMetric"
            description="description"
            id="de.cau.cs.kieler.kiml.evol.narrownessMetric"
            name="Narrowness Metric">
      </analysisProvider>
      <analysisProvider
            class="de.cau.cs.kieler.kiml.evol.grana.FlatnessMetric"
            description="description"
            id="de.cau.cs.kieler.kiml.evol.flatnessMetric"
            name="Flatness Metric">
      </analysisProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.cau.cs.kieler.kiml.evol.AutoRateAllHandler"
            description="computes automatic rating for all individuals"
            id="de.cau.cs.kieler.kiml.evol.autoRateAll"
            name="Auto-rate All">
      </command>
   </extension>

</plugin>
