<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="evolutionData" name="Evolution Data" schema="schema/evolutionData.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.cau.cs.kieler.kiml.evol.ui.EvolView"
            icon="icons/gazelle.png"
            id="de.cau.cs.kieler.kiml.evol.wildlife"
            name="WildLife"
            restorable="true">
      </view>
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.evol.evolutionData">
      <data
            distribution="GAUSSIAN"
            lowerBound="1"
            name="Minimal Spacing"
            option="de.cau.cs.kieler.layout.options.minSpacing">
      </data>
      <data
            distribution="GAUSSIAN"
            lowerBound="0.001"
            name="Aspect Ratio"
            option="de.cau.cs.kieler.layout.options.aspectRatio"
            upperBound="1000.0">
      </data>
      <data
            distribution="UNIFORM"
            enum="de.cau.cs.kieler.kiml.layout.options.LayoutDirection"
            name="Layout Direction"
            option="de.cau.cs.kieler.layout.options.layoutDirection">
      </data>
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.grana.analysisProviders">
      <analysisProvider
            class="de.cau.cs.kieler.kiml.evol.grana.AreaMetric"
            description="description"
            id="de.cau.cs.kieler.kiml.evol.areaMetric"
            name="Area Metric">
      </analysisProvider>
      <analysisProvider
            class="de.cau.cs.kieler.kiml.evol.grana.BendsMetric"
            description="description"
            id="de.cau.cs.kieler.kiml.evol.bendsMetric"
            name="Bends Metric">
      </analysisProvider>
      <analysisProvider
            class="de.cau.cs.kieler.kiml.evol.grana.FlatnessMetric"
            description="description"
            id="de.cau.cs.kieler.kiml.evol.flatnessMetric"
            name="Flatness Metric">
      </analysisProvider>
      <analysisProvider
            class="de.cau.cs.kieler.kiml.evol.grana.NarrownessMetric"
            description="description"
            id="de.cau.cs.kieler.kiml.evol.narrownessMetric"
            name="Narrowness Metric">
      </analysisProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.cau.cs.kieler.kiml.evol.handlers.AutoRateAllHandler"
            description="computes automatic rating for all individuals"
            id="de.cau.cs.kieler.kiml.evol.command.autoRateAll"
            name="Auto-rate All">
      </command>
      <command
            defaultHandler="de.cau.cs.kieler.kiml.evol.handlers.EvolveHandler"
            description="proceeds to the next generation"
            id="de.cau.cs.kieler.kiml.evol.evolve"
            name="Evolve">
      </command>
      <command
            defaultHandler="de.cau.cs.kieler.kiml.evol.handlers.ResetHandler"
            description="restarts with a new population"
            id="de.cau.cs.kieler.kiml.evol.reset"
            name="Reset">
      </command>
      <command
            defaultHandler="de.cau.cs.kieler.kiml.evol.handlers.ChangeRatingHandler"
            description="changes the rating of the current individual"
            id="de.cau.cs.kieler.kiml.evol.changeRating"
            name="Change Rating">
         <commandParameter
               id="de.cau.cs.kieler.kiml.evol.amount"
               name="Amount"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:de.cau.cs.kieler.kiml.evol.wildlife">
         <command
               commandId="de.cau.cs.kieler.kiml.evol.evolve"
               label="Evolve"
               style="push"
               tooltip="Proceed to the next generation">
         </command>
         <command
               commandId="de.cau.cs.kieler.kiml.evol.changeRating"
               label="Favor"
               style="push">
            <parameter
                  name="de.cau.cs.kieler.kiml.evol.amount"
                  value="30">
            </parameter>
         </command>
         <command
               commandId="de.cau.cs.kieler.kiml.evol.changeRating"
               label="Disregard"
               style="push">
            <parameter
                  name="de.cau.cs.kieler.kiml.evol.amount"
                  value="-30">
            </parameter>
         </command>
         <command
               commandId="de.cau.cs.kieler.kiml.evol.command.autoRateAll"
               label="Auto-rate all"
               style="push"
               tooltip="Auto-rate all individuals">
         </command>
         <command
               commandId="de.cau.cs.kieler.kiml.evol.reset"
               label="Reset"
               style="push"
               tooltip="Restart with a new population.">
         </command>
      </menuContribution>
   </extension>

</plugin>
