<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.ksbase.configurations">
      <configuration
            XtendFile="src/transformations/features.ext"
            contextId="org.eclipse.papyrus.diagram.clazz.ui.diagramContext"
            editorId="org.eclipse.papyrus.diagram.clazz.part.UMLDiagramEditorID"
            packageName="org.eclipse.uml2.uml.UMLPackage">
         <transformations>
            <transformation
                  keyboardShortcut="M1+K I"
                  name="Add Implementation"
                  transformation="addInterfaceImplementation"
                  transformationId="org.eclipse.papyrus.diagram.clazz.sbase.AddImplementation">
            </transformation>
         </transformations>
         <menus>
            <menuContribution
                  locationURI="menu:de.cau.cs.kieler">
               <transformationCommand
                     transformationId="org.eclipse.papyrus.diagram.clazz.sbase.AddImplementation">
               </transformationCommand>
            </menuContribution>
         </menus>
      </configuration>
   </extension>
<extension point="org.eclipse.ui.commands">
		<command categoryId="de.cau.cs.kieler.ksbase.ui.ksbaseCategory"
			id="de.cau.cs.kieler.ksbase.org.eclipse.papyrus.diagram.clazz.part.UMLDiagramEditorID.Add_Implementation"
			name="Add Implementation">
			<commandParameter id="de.cau.cs.kieler.ksbase.editorParameter"
				name="editor" />
			<commandParameter id="de.cau.cs.kieler.ksbase.transformationParameter"
				name="transformation" />
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="menu:de.cau.cs.kieler">
			<command
				commandId="de.cau.cs.kieler.ksbase.org.eclipse.papyrus.diagram.clazz.part.UMLDiagramEditorID.Add_Implementation"
				label="Add Implementation">
				<parameter name="de.cau.cs.kieler.ksbase.editorParameter"
					value="org.eclipse.papyrus.diagram.clazz.part.UMLDiagramEditorID" />
				<parameter name="de.cau.cs.kieler.ksbase.transformationParameter"
					value="addInterfaceImplementation" />
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.bindings">
		<key
			commandId="de.cau.cs.kieler.ksbase.org.eclipse.papyrus.diagram.clazz.part.UMLDiagramEditorID.Add_Implementation"
			contextId="org.eclipse.papyrus.diagram.clazz.ui.diagramContext"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="M1+K I">
			<parameter id="de.cau.cs.kieler.ksbase.editorParameter"
				value="org.eclipse.papyrus.diagram.clazz.part.UMLDiagramEditorID" />
			<parameter id="de.cau.cs.kieler.ksbase.transformationParameter"
				value="addInterfaceImplemenation" />
		</key>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			commandId="de.cau.cs.kieler.ksbase.org.eclipse.papyrus.diagram.clazz.part.UMLDiagramEditorID.Add_Implementation">
			<class
				class="de.cau.cs.kieler.ksbase.ui.handler.TransformationCommandHandler" />
			<enabledWhen>
				<with variable="selection">
					<iterate ifEmpty="false" operator="and">
						<test
							args="org.eclipse.papyrus.diagram.clazz.part.UMLDiagramEditorID,org.eclipse.papyrus.diagram.clazz.sbase.AddImplementation"
							forcePluginActivation="true"
							property="de.cau.cs.kieler.ksbase.ui.modelTesting.isModelInstance" />
					</iterate>
				</with>
			</enabledWhen>
		</handler>
	</extension>
</plugin>
