<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layoutProviders">
      <layoutProvider
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.klay.rail.RailwayLayoutProvider"
            id="de.cau.cs.kieler.klay.rail"
            name="KLay Railway"
            type="de.cau.cs.kieler.layout.types.layered">
      </layoutProvider>
   </extension>

</plugin>
