<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layoutProviders">
      <layoutAlgorithm
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.klay.rail.RailwayLayoutProvider"
            id="de.cau.cs.kieler.klay.rail"
            name="KLay Railway"
            type="de.cau.cs.kieler.type.layered">
         <knownOption
               option="de.cau.cs.kieler.borderSpacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.spacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.rail.nodeType">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.rail.entryPoint">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.rail.portType">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.rail.bendAngle">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.rail.layerDistance">
         </knownOption>
      </layoutAlgorithm>
      <layoutOption
            appliesTo="nodes"
            class="de.cau.cs.kieler.klay.rail.options.NodeType"
            default="BREACH_OR_CLOSE"
            description="Which railway element is this node"
            id="de.cau.cs.kieler.klay.rail.nodeType"
            name="Node Type"
            type="enum">
      </layoutOption>
      <layoutOption
            appliesTo="nodes"
            default="false"
            description="Is this an entry point? Only one per connected component."
            id="de.cau.cs.kieler.klay.rail.entryPoint"
            name="Entry Point"
            type="boolean">
      </layoutOption>
      <layoutOption
            appliesTo="ports"
            class="de.cau.cs.kieler.klay.rail.options.PortType"
            default="STUMP"
            description="Which port is this. Can be left default on stump."
            id="de.cau.cs.kieler.klay.rail.portType"
            name="Port Type"
            type="enum">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="60.0"
            description="The angle which will be used to draw outgoing edges."
            id="de.cau.cs.kieler.klay.rail.bendAngle"
            name="Bend Angle"
            type="float">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="50"
            description="The minimal distance between two layers"
            id="de.cau.cs.kieler.klay.rail.layerDistance"
            name="Minimal Layer Distance"
            type="float">
      </layoutOption>
   </extension>

</plugin>
