<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="de.cau.cs.kieler.kaom.diagram.custom.policies.KaomDeletionPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
      </editpolicyProvider>
   </extension>
   <extension point="org.eclipse.ui.commands">
         <command
            categoryId="de.cau.cs.kieler"
            defaultHandler="de.cau.cs.kieler.kaom.diagram.custom.commands.ReInitKaomDiagramCommand"
            description="(Re)Initialize the diagram for the selected KAOM file, overwriting any old KAOD file."
            id="de.cau.cs.kieler.kaom.ui.reinitDiagram"
            name="Initialize KAOD diagram">
      </command>
         </extension>
            <extension
         point="org.eclipse.ui.menus">

            <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="de.cau.cs.kieler.kaom.ui.reinitDiagram"
               label="Initialize GMF Diagram File (kaod)"
               style="push"
               tooltip="(Re)Initialize the diagram for the selected KAOM file, overwriting any old KAOD file.">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           forcePluginActivation="false"
                           property="org.eclipse.core.resources.name"
                           value="*.kaom">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
                     </menuContribution>
                        </extension>
                        
                              <extension
            point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
               class="de.cau.cs.kieler.kaom.diagram.custom.commands.KaomPropertyTester"
               id="de.cau.cs.kieler.kaom.activeKaomEditor"
               namespace="de.cau.cs.kieler.kaom"
               properties="activeKaomEditor"
               type="org.eclipse.ui.IEditorPart">
         </propertyTester>
      </extension>
      <extension
            point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
         <GlobalActionHandlerProvider
               class="de.cau.cs.kieler.kaom.diagram.custom.handlers.KaomCutCopyPasteHandlerProvider"
               id="de.cau.cs.kieler.kaom.diagram.custom.CutCopyPasteHandler">
            <Priority
                  name="Lowest">
            </Priority>
            <ViewId
                  id="de.cau.cs.kieler.kaom.diagram.part.KaomDiagramEditorID">
               <ElementType
                     class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
                  <GlobalActionId
                        actionId="cut">
                  </GlobalActionId>
                  <GlobalActionId
                        actionId="copy">
                  </GlobalActionId>
                  <GlobalActionId
                        actionId="paste">
                  </GlobalActionId>
               </ElementType>
            </ViewId>
         </GlobalActionHandlerProvider>
      </extension>
      <extension
            point="org.eclipse.ui.navigator.navigatorContent">
         <commonWizard
               menuGroupId="de.cau.cs.kieler"
               type="new"
               wizardId="de.cau.cs.kieler.kaom.diagram.part.KaomCreationWizardID">
            <enablement>
               <or>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IFolder">
                  </adapt>
               </or>
            </enablement>
         </commonWizard>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
         <propertyTabs
               contributorId="de.cau.cs.kieler.kaom.diagram">
            <propertyTab
                  category="domain"
                  id="property.tab.annotations"
                  label="Annotations">
            </propertyTab>
         </propertyTabs>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
         <propertySections
               contributorId="de.cau.cs.kieler.kaom.diagram">
            <propertySection
                  class="de.cau.cs.kieler.core.annotations.ui.properties.AnnotationsPropertySection"
                  id="property.section.annotations"
                  tab="property.tab.annotations">
               <input type="org.eclipse.gmf.runtime.notation.View"/>
               <input type="org.eclipse.gef.EditPart"/>
               <input type="de.cau.cs.kieler.kaom.diagram.navigator.KaomAbstractNavigatorItem"/>
            </propertySection>
         </propertySections>
      </extension>
</plugin>
