<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layoutInfo">
      <option
            class="de.cau.cs.kieler.kaom.Relation"
            option="de.cau.cs.kieler.layout.options.hypernode"
            value="true">
      </option>
      <semanticOption
            class="de.cau.cs.kieler.kaom.Entity"
            config="de.cau.cs.kieler.kaom.custom.TypeLayoutConfig">
      </semanticOption>
   </extension>

</plugin>
