<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.graphs.klighd.syntheses.KGraphDiagramSynthesis"
            id="de.cau.cs.kieler.graphs.klighd.syntheses.KGraphDiagramSynthesis">
      </diagramSynthesis>
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.graphs.klighd.syntheses.ElkGraphDiagramSynthesis"
            id="de.cau.cs.kieler.graphs.klighd.syntheses.ElkGraphDiagramSynthesis">
      </diagramSynthesis>
      <!-- deactivated for the moment to avoid collisions with other gml syntheses -->
      <!--diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.graphs.klighd.syntheses.GMLDiagramSynthesis"
            id="de.cau.cs.kieler..graphs.klighd.syntheses.GMLDiagramSynthesis">
      </diagramSynthesis-->
   </extension>

</plugin>
