<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kivi.combinations">
      <combination
            class="de.cau.cs.kieler.ksbase.kivi.KSBasECombination"
            description="A Combination handling KSBasE-related effects after transformations."
            name="KSBasE Layout Combination">
      </combination>
   </extension>

</plugin>
