<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.karma">
      <configuration
            Priority="5"
            RenderingProvider="de.cau.cs.kieler.kaom.karma.ptolemy.KaomFigureProvider">
         <conditions>
            <customCondition
                  condition="de.cau.cs.kieler.karma.AnnotationCondition"
                  figureParam="ptolemy.actor.lib.Ramp"
                  figureSize="60,40"
                  key="ptolemyClass"
                  layoutParam="ramp"
                  value="ptolemy.actor.lib.Ramp">
            </customCondition>
            <customCondition
                  condition="de.cau.cs.kieler.karma.AnnotationCondition"
                  figureParam="ptolemy.actor.lib.AddSubtract"
                  figureSize="40,40"
                  key="ptolemyClass"
                  layoutParam="addSubtract"
                  value="ptolemy.actor.lib.AddSubtract">
            </customCondition>
            <customCondition
                  condition="de.cau.cs.kieler.karma.AnnotationCondition"
                  figureParam="ptolemy.actor.lib.MonitorValue"
                  figureSize="160,40"
                  key="ptolemyClass"
                  layoutParam="ptolemy.actor.lib.MonitorValue"
                  value="ptolemy.actor.lib.MonitorValue">
            </customCondition>
            <customCondition
                  condition="de.cau.cs.kieler.karma.AnnotationCondition"
                  figureParam="ptolemy.actor.lib.MultiplyDivide"
                  figureSize="40,40"
                  key="ptolemyClass"
                  layoutParam="ptolemy.actor.lib.MultiplyDivide"
                  value="ptolemy.actor.lib.MultiplyDivide">
            </customCondition>
            <customCondition
                  condition="de.cau.cs.kieler.karma.RecursiveAnnotationCondition"
                  figureParam="ptolemy.domains.sr.kernel.SRDirector"
                  figureSize="160,40"
                  key="ptolemyClass"
                  layoutParam="ptolemy.domains.sr.kernel.SRDirector"
                  value="ptolemy.domains.sr.kernel.SRDirector">
            </customCondition>
         </conditions>
         <editPart
               editPart="de.cau.cs.kieler.kaom.diagram.edit.parts.Entity2EditPart">
         </editPart>
         <editPart
               editPart="de.cau.cs.kieler.kaom.diagram.edit.parts.Entity3EditPart">
         </editPart>
      </configuration>
   </extension>

</plugin>
