<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.karma">
      <configuration
            Priority="2"
            RenderingProvider="de.cau.cs.kieler.kaom.karma.ptolemy.renderingprovider.KaomRenderingProvider">
         <conditions>
            <customCondition
                  condition="de.cau.cs.kieler.karma.AnnotationCondition"
                  figureParam="MonitorValue"
                  figureSize="160,30"
                  key="ptolemyClass"
                  layoutParam="ptolemy.actor.lib.MonitorValue"
                  value="ptolemy.actor.lib.MonitorValue">
            </customCondition>
            <compoundCondition
                  figureParam="compoundCollapsed"
                  layoutParam="compoundCollapsed">
               <listSizeCondition
                     feature="childEntities"
                     figureParam="compound"
                     layoutParam="compound"
                     size="&lt;0"
                     type="Entity">
               </listSizeCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="language"
                     value="ptolemy">
               </customCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.conditions.IsCollapsedCondition"
                     key="null"
                     value="null">
               </customCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="compoundCollapsed"
                  layoutParam="compoundCollapsed">
               <customCondition
                     condition="de.cau.cs.kieler.kaom.karma.ptolemy.conditions.HasCommentsCondition">
               </customCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="language"
                     value="ptolemy">
               </customCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.conditions.IsCollapsedCondition"
                     key="null"
                     value="null">
               </customCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="compound"
                  layoutParam="compound">
               <listSizeCondition
                     feature="childEntities"
                     figureParam="compound"
                     layoutParam="compound"
                     size="&lt;0"
                     type="Entity">
               </listSizeCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="language"
                     value="ptolemy">
               </customCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="compound"
                  layoutParam="compound">
               <customCondition
                     condition="de.cau.cs.kieler.kaom.karma.ptolemy.conditions.HasCommentsCondition">
               </customCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="language"
                     value="ptolemy">
               </customCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="inputPort">
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     figureParam="inputPort"
                     key="type"
                     value="inputPort">
               </customCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="language"
                     value="ptolemy">
               </customCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="outputPort">
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     figureParam="outputPort"
                     key="type"
                     value="outputPort">
               </customCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="language"
                     value="ptolemy">
               </customCondition>
            </compoundCondition>
            <compoundCondition
                  borderItemParam="valueDisplay//value"
                  figureParam="valueDisplay//value"
                  layoutParam="valueDisplay//value">
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="language"
                     value="ptolemy">
               </customCondition>
               <customCondition
                     borderItemParam="valueDisplay"
                     condition="de.cau.cs.kieler.karma.AnnotationExistsCondition"
                     figureParam="valueDisplay"
                     figureSize="70,30"
                     key="value"
                     layoutParam="valueDisplay"
                     value="value">
               </customCondition>
            </compoundCondition>
            <compoundCondition
                  borderItemParam="valueDisplay//initialOutputs"
                  figureParam="valueDisplay//initialOutputs"
                  figureSize="90,30"
                  layoutParam="valueDisplay//initialOutputs">
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="language"
                     value="ptolemy">
               </customCondition>
               <customCondition
                     borderItemParam="valueDisplay"
                     condition="de.cau.cs.kieler.karma.AnnotationExistsCondition"
                     figureParam="valueDisplay"
                     figureSize="70,30"
                     key="initialOutputs"
                     layoutParam="valueDisplay"
                     value="initialOutputs">
               </customCondition>
            </compoundCondition>
            <compoundCondition
                  borderItemParam="valueDisplay//null"
                  figureParam="valueDisplay//null"
                  figureSize="70,30"
                  layoutParam="valueDisplay//null">
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="language"
                     value="ptolemy">
               </customCondition>
               <customCondition
                     borderItemParam="valueDisplay"
                     condition="de.cau.cs.kieler.karma.AnnotationExistsCondition"
                     figureParam="valueDisplay"
                     figureSize="70,30"
                     key="_icon"
                     layoutParam="valueDisplay"
                     value="_icon">
               </customCondition>
            </compoundCondition>
            <customCondition
                  condition="de.cau.cs.kieler.karma.AnnotationCondition"
                  figureParam="accumulator"
                  key="ptolemyClass"
                  value="ptolemy.actor.lib.Accumulator">
            </customCondition>
            <customCondition
                  condition="de.cau.cs.kieler.karma.AnnotationCondition"
                  figureParam="_IconDescription"
                  key="language"
                  value="ptolemy">
            </customCondition>
         </conditions>
         <editPart
               editPart="de.cau.cs.kieler.kaom.diagram.edit.parts.Entity3EditPart">
         </editPart>
         <package
               class="de.cau.cs.kieler.kaom.KaomPackage">
         </package>
      </configuration>
      <configuration
            Priority="3"
            RenderingProvider="de.cau.cs.kieler.kaom.karma.ptolemy.renderingprovider.KaomRenderingProvider">
         <conditions>
            <compoundCondition
                  figureParam="Director"
                  figureSize="102,32"
                  layoutParam="Director">
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationExistsCondition"
                     figureParam="Director"
                     figureSize="102,32"
                     key="Director"
                     layoutParam="Director"
                     value="Director">
               </customCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="language"
                     value="ptolemy">
               </customCondition>
            </compoundCondition>
         </conditions>
         <editPart
               editPart="de.cau.cs.kieler.kaom.diagram.edit.parts.Entity3EditPart">
         </editPart>
      </configuration>
      <configuration
            RenderingProvider="de.cau.cs.kieler.kaom.karma.ptolemy.renderingprovider.KaomPortProvider">
         <conditions>
            <compoundCondition
                  borderItemParam="NORTH"
                  figureParam="DOWN">
               <customCondition
                     borderItemParam="NORTH"
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="_cardinal"
                     value="NORTH">
               </customCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="language"
                     value="ptolemy">
               </customCondition>
            </compoundCondition>
            <compoundCondition
                  borderItemParam="EAST">
               <customCondition
                     borderItemParam="EAST"
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="_cardinal"
                     value="EAST">
               </customCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="language"
                     value="ptolemy">
               </customCondition>
            </compoundCondition>
            <compoundCondition
                  borderItemParam="SOUTH"
                  figureParam="UP">
               <customCondition
                     borderItemParam="SOUTH"
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="_cardinal"
                     value="SOUTH">
               </customCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="language"
                     value="ptolemy">
               </customCondition>
            </compoundCondition>
            <compoundCondition
                  borderItemParam="WEST">
               <customCondition
                     borderItemParam="WEST"
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="_cardinal"
                     value="WEST">
               </customCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="language"
                     value="ptolemy">
               </customCondition>
            </compoundCondition>
            <compoundCondition
                  borderItemParam="WEST">
               <customCondition
                     borderItemParam="WEST"
                     condition="de.cau.cs.kieler.karma.AnnotationExistsCondition"
                     key="input"
                     value="input">
               </customCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="language"
                     value="ptolemy">
               </customCondition>
            </compoundCondition>
            <compoundCondition
                  borderItemParam="EAST">
               <customCondition
                     borderItemParam="EAST"
                     condition="de.cau.cs.kieler.karma.AnnotationExistsCondition"
                     key="output"
                     value="output">
               </customCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="language"
                     value="ptolemy">
               </customCondition>
            </compoundCondition>
            <compoundCondition
                  borderItemParam="SOUTH"
                  figureParam="UP">
               <customCondition
                     borderItemParam="SOUTH"
                     condition="de.cau.cs.kieler.karma.AnnotationExistsCondition"
                     key="inputoutput"
                     value="inputoutput">
               </customCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="language"
                     value="ptolemy">
               </customCondition></compoundCondition>
         </conditions>
         <editPart
               editPart="de.cau.cs.kieler.kaom.diagram.edit.parts.PortEditPart">
         </editPart>
      </configuration>
      <configuration
            RenderingProvider="de.cau.cs.kieler.kaom.karma.ptolemy.renderingprovider.KaomRenderingProvider">
         <conditions>
            <compoundCondition
                  figureParam="stateConnection">
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     figureParam="connection"
                     key="language"
                     value="ptolemy">
               </customCondition>
               <customCondition
                     condition="de.cau.cs.kieler.kaom.karma.ptolemy.conditions.ConnectionSourceCondition"
                     figureParam="stateConnection"
                     key="ptolemyClass"
                     value="ptolemy.domains.modal.kernel.State">
               </customCondition>
            </compoundCondition>
            <customCondition
                  condition="de.cau.cs.kieler.karma.AnnotationCondition"
                  figureParam="connection"
                  key="language"
                  value="ptolemy">
            </customCondition>
         </conditions>
         <editPart
               editPart="de.cau.cs.kieler.kaom.diagram.edit.parts.LinkEditPart">
         </editPart>
      </configuration>
      <configuration
            Priority="3"
            RenderingProvider="de.cau.cs.kieler.kaom.karma.ptolemy.renderingprovider.PtolemyStateMachineProvider">
         <conditions>
            <compoundCondition
                  figureParam="initialFinalState"
                  figureSize="30,30">
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="ptolemyClass"
                     value="ptolemy.domains.modal.kernel.State">
               </customCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="isFinalState"
                     value="true">
               </customCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="isInitialState"
                     value="true">
               </customCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="initialState"
                  figureSize="30,30">
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="ptolemyClass"
                     value="ptolemy.domains.modal.kernel.State">
               </customCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="isInitialState"
                     value="true">
               </customCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="finalState"
                  figureSize="30,30">
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="ptolemyClass"
                     value="ptolemy.domains.modal.kernel.State">
               </customCondition>
               <customCondition
                     condition="de.cau.cs.kieler.karma.AnnotationCondition"
                     key="isFinalState"
                     value="true">
               </customCondition>
            </compoundCondition>
            <customCondition
                  condition="de.cau.cs.kieler.karma.AnnotationCondition"
                  figureParam="normalState"
                  figureSize="30,30"
                  key="ptolemyClass"
                  value="ptolemy.domains.modal.kernel.State">
            </customCondition></conditions>
         <editPart
               editPart="de.cau.cs.kieler.kaom.diagram.edit.parts.Entity3EditPart">
         </editPart>
      </configuration>
   </extension>

</plugin>
