<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layoutProviders">
      <category
            id="de.cau.cs.kieler.kiml.libavoid.category"
            name="Libavoid">
      </category>
      <layoutAlgorithm
            category="de.cau.cs.kieler.kiml.libavoid.category"
            class="de.cau.cs.kieler.kiml.libavoid.LibavoidLayoutProvider"
            id="de.cau.cs.kieler.kiml.libavoid.alg"
            name="Libavoid"
            parameter="LIBAVOID">
         <knownOption
               default="20.0"
               option="de.cau.cs.kieler.spacing">
         </knownOption>
         <knownOption
               default="POLYLINE"
               option="de.cau.cs.kieler.edgeRouting">
         </knownOption>
      </layoutAlgorithm>
   </extension>

</plugin>
