<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.formats.graphFormats">
      <handler
            class="de.cau.cs.kieler.kiml.formats.json.JsonFormatHandler"
            description="Handler for the graphs in the form of JavaScript Object Notation."
            extensions="json"
            id="org.json"
            name="JSON">
      </handler>
   </extension>
</plugin>
