<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://kieler.cs.cau.de/graphs"
            class="graphs.GraphsPackage"
            genModel="model/graphs.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.graphs.wizards.CreateRandomModelWizard"
            hasPages="true"
            icon="icons/full/obj16/Graph.gif"
            id="de.cau.cs.kieler.graphs.wizards"
            name="Create Random Graph"
            project="false">
      </wizard>
   </extension>
   <extension
         point="de.cau.cs.kieler.ksbase.configurations">
      <configuration
            TransformationFile="transformations/feature.ext"
            checkVisibility="true"
            contextId="de.cau.cs.kieler.graphs.diagram.ui.diagramContext"
            editorId="de.cau.cs.kieler.graphs.diagram.part.GraphsDiagramEditorID"
            packageName="de.cau.cs.kieler.graphs.GraphsPackage">
         <transformations>
            <transformation
                  name="Add Successor Node"
                  tooltip="Create a successor for the selected node"
                  transformation="addSuccessorNode"
                  transformationId="de.cau.cs.kieler.graphs.addSuc"
                  validation="isNoRootNode">
            </transformation>
         </transformations>
         <menus>
            <menuContribution
                  locationURI="menu:de.cau.cs.kieler">
               <transformationCommand
                     transformationId="de.cau.cs.kieler.graphs.addSuc">
               </transformationCommand>
            </menuContribution>
         </menus>
      </configuration>
   </extension>
      
</plugin>
