<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://cs.cau.de/Graphs"
            class="de.cau.cs.rtprak.graphs.GraphsPackage"
            genModel="model/graphs.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.cau.cs.rtprak.graphs.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            class="de.cau.cs.rtprak.graphs.wizards.CreateRandomModelWizard"
            hasPages="true"
            icon="icons/full/obj16/Graph.gif"
            id="de.cau.cs.rtprak.graphs.wizards.randomGraph"
            name="Create Random Graph"
            project="false">
      </wizard>
   </extension>

</plugin>
