<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.cau.cs.kieler.kiml.grana.headless"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.cau.cs.kieler.kiml.grana.headless.HeadlessGranaExecutor">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.cau.cs.kieler.kiml.grana.headless"
            name="KIELER Headless Grana">
         <property
               name="appName"
               value="KIELER Headless Grana">
         </property>
      </product>
   </extension>

</plugin>
