<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point 
         id="de.cau.cs.kieler.kwebs.server.configuration" 
         name="Configuration of the KIELER Layout Service"
         schema="schema/de.cau.cs.kieler.kwebs.server.configuration.exsd"/>
   <extension-point id="de.cau.cs.kieler.kwebs.server.logging" name="KIELER Layout Web Service Logging Configuration" schema="schema/de.cau.cs.kieler.kwebs.server.logging.exsd"/>
   <extension
         id="de.cau.cs.kieler.kwebs.server.Application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/kiel_64.gif"
            visible="true">
         <run
               class="de.cau.cs.kieler.kwebs.server.Application">
         </run>
      </application>
   </extension>
   <extension
         id="Product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.cau.cs.kieler.kwebs.server.Application"
            name="KIELER Layout Web Server">
         <property
               name="appName"
               value="KIELER Layout Web Server">
         </property>
      </product>
   </extension>
   <extension
         point="de.cau.cs.kieler.kwebs.server.configuration">
      <transformer
            description="This transformer supports the models based on the KIELER KGraph and KLayoutData meta models that are serialized using the Xml Metadata Interchange (XMI) format."
            implementation="de.cau.cs.kieler.kwebs.transformation.KGraphXmiTransformer"
            name="KGraph"
            supportedFormat="de.cau.cs.kieler.format.kgraph.xmi">
      </transformer>
      <transformer
            description="This transformer supports the models based on the KIELER KGraph and KLayoutData meta models that are serialized using the Xml Metadata Interchange (XMI) format and compression."
            implementation="de.cau.cs.kieler.kwebs.transformation.KGraphXmiCompressedTransformer"
            name="KGraph compressed"
            supportedFormat="de.cau.cs.kieler.format.kgraph.xmi.compressed">
      </transformer>
      <supportHandler
            implementation="de.cau.cs.kieler.kwebs.server.web.WebContentHandler"
            path="/">
      </supportHandler>
   </extension>
   <extension
         point="de.cau.cs.kieler.kwebs.server.logging">
      <defaultLogLevel
            logLevel="INFO">
      </defaultLogLevel>
      <classLogLevel
            logLevel="WARNING"
            qualifiedName="de.unido.ls5.eti">
      </classLogLevel>
      <classLogLevel
            logLevel="WARNING"
            qualifiedName="org.apache.log4j">
      </classLogLevel>
      <classLogLevel
            logLevel="WARNING"
            qualifiedName="com.sun.xml.ws.server">
      </classLogLevel>
   </extension>

</plugin>
