<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.formats.graphFormats">
      <handler
            class="de.cau.cs.kieler.formats.ogml.OgmlFormatHandler"
            description="The Open Graph Markup Language."
            extensions="ogml"
            id="net.ogdf.ogml"
            name="OGML">
      </handler>
   </extension>

</plugin>
