<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layoutProviders">
      <layoutProvider
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.klay.layered.LayeredLayoutProvider"
            id="de.cau.cs.kieler.klay.layered"
            name="KLay Layered"
            type="de.cau.cs.kieler.layout.types.layered">
         <knownOption
               option="de.cau.cs.kieler.layout.options.minSpacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.layout.options.borderSpacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.layout.options.priority">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.layered.nodeLayering">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.layered.crossingMinimization">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.layered.edgeRouting">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.layout.options.portConstraints">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.layered.straightEdges">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.layered.minimalAngle">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.layered.distributeNodes">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.layout.options.debugMode">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.layered.segmentateLayering">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.layered.enhanceLayering">
         </knownOption>
      </layoutProvider>
      <layoutOption
            appliesTo="parents"
            class="de.cau.cs.kieler.klay.layered.options.LayeredEdgeRouting"
            default="POLYLINE"
            description="Strategy for edge routing"
            id="de.cau.cs.kieler.klay.layered.edgeRouting"
            name="Edge Routing"
            type="enum">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="false"
            description="If enabled, edges with priority &gt; 0 are drawn straight instead of keeping the connected nodes in line.ne."
            id="de.cau.cs.kieler.klay.layered.straightEdges"
            name="Straight Edges"
            type="boolean">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="0"
            description="Defines the minimal angle that short edges may have."
            id="de.cau.cs.kieler.klay.layered.minimalAngle"
            name="Minimal Angle"
            type="int">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="false"
            description="Whether wide nodes should be distributed to several layers"
            id="de.cau.cs.kieler.klay.layered.distributeNodes"
            name="Distribute Nodes"
            type="boolean">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            class="de.cau.cs.kieler.klay.layered.options.NodeLayering"
            default="NETWORK_SIMPLEX"
            description="Strategy for node layering"
            id="de.cau.cs.kieler.klay.layered.nodeLayering"
            name="Node Layering"
            type="enum">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            class="de.cau.cs.kieler.klay.layered.options.CrossingMinimization"
            default="LAYER_SWEEP"
            description="Strategy for crossing minimization."
            id="de.cau.cs.kieler.klay.layered.crossingMinimization"
            name="Crossing Minimization"
            type="enum">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="false"
            description="Segmentates the Layering, if wide nodes are existing"
            id="de.cau.cs.kieler.klay.layered.segmentateLayering"
            name="Segmentate Layering"
            type="boolean">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="false"
            id="de.cau.cs.kieler.klay.layered.enhanceLayering"
            name="Enhance Layering"
            type="boolean">
      </layoutOption>
   </extension>

</plugin>
