<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layoutProviders">
      <layoutAlgorithm
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.klay.layered.LayeredLayoutProvider"
            description="Layer-based algorithm of the KIELER Layouters project."
            id="de.cau.cs.kieler.klay.layered"
            name="KLay Layered"
            preview="images/layered.png"
            type="de.cau.cs.kieler.type.layered">
         <supportedDiagram
               priority="15"
               type="de.cau.cs.kieler.layout.diagrams.general">
         </supportedDiagram>
         <supportedDiagram
               priority="15"
               type="de.cau.cs.kieler.layout.diagrams.dataFlow">
         </supportedDiagram>
         <knownOption
               default="20"
               option="de.cau.cs.kieler.spacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.layered.edgeSpacingFactor">
         </knownOption>
         <knownOption
               default="20"
               option="de.cau.cs.kieler.borderSpacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.priority">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.layered.nodeLayering">
         </knownOption>
         <knownOption
               default="POLYLINE"
               option="de.cau.cs.kieler.edgeRouting">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.portConstraints">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.layered.minimalAngle">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.debugMode">
         </knownOption>
         <knownOption
               default="1"
               option="de.cau.cs.kieler.randomSeed">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.layered.thoroughness">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.layered.layerConstraint">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.alignment">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.layoutHierarchy">
         </knownOption>
         <knownOption
               default="true"
               option="de.cau.cs.kieler.separateConnComp">
         </knownOption>
         <knownOption
               default="1.6"
               option="de.cau.cs.kieler.aspectRatio">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.fixedSize">
         </knownOption>
         <knownOption
               default="RIGHT"
               option="de.cau.cs.kieler.direction">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.layered.cycleBreaking">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.layered.crossMin">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.layered.mergePorts">
         </knownOption>
      </layoutAlgorithm>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="0"
            description="Defines the minimal angle that short edges may have."
            id="de.cau.cs.kieler.klay.layered.minimalAngle"
            name="Minimal Angle"
            type="int">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="false"
            description="Whether wide nodes should be distributed to several layers"
            id="de.cau.cs.kieler.klay.layered.distributeNodes"
            name="Distribute Nodes"
            type="boolean">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            class="de.cau.cs.kieler.klay.layered.p1cycles.CycleBreakingStrategy"
            default="GREEDY"
            description="Strategy for cycle breaking"
            id="de.cau.cs.kieler.klay.layered.cycleBreaking"
            name="Cycle Breaking"
            type="enum">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            class="de.cau.cs.kieler.klay.layered.p2layers.LayeringStrategy"
            default="NETWORK_SIMPLEX"
            description="Strategy for node layering"
            id="de.cau.cs.kieler.klay.layered.nodeLayering"
            name="Node Layering"
            type="enum">
      </layoutOption>
      <layoutOption
      		appliesTo="parents"
            class="de.cau.cs.kieler.klay.layered.p3order.CrossingMinimizationStrategy"
            default="LAYER_SWEEP"
            description="Strategy for crossing minimization"
            id="de.cau.cs.kieler.klay.layered.crossMin"
            name="Crossing Minimization"
            type="enum">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="5"
            description="How much effort should be spent to produce a nice layout"
            id="de.cau.cs.kieler.klay.layered.thoroughness"
            name="Thoroughness"
            type="int">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="nodes"
            class="de.cau.cs.kieler.klay.layered.properties.LayerConstraint"
            default="NONE"
            description="Determines a constraint on the placement of the node regarding the layering."
            id="de.cau.cs.kieler.klay.layered.layerConstraint"
            name="Layer Constraint"
            type="enum">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="0.5"
            description="Factor by which the object spacing is multiplied to arrive at the minimal spacing between edges"
            id="de.cau.cs.kieler.klay.layered.edgeSpacingFactor"
            name="Edge Spacing Factor"
            type="float">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="false"
            description="Edges that have no ports are merged so they touch the connected nodes at the same points."
            id="de.cau.cs.kieler.klay.layered.mergePorts"
            name="Merge Edges"
            type="boolean">
      </layoutOption>
   </extension>

</plugin>
