<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layoutProviders">
      <layoutAlgorithm
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.klodd.hierarchical.HierarchicalDataflowLayoutProvider"
            description="This layer-based algorithm is the main contribution of the &apos;KIELER Layout of Dataflow Diagrams&apos; project, which expores approaches for the layout of actor oriented networks. Such networks are found in Ptolemy, Simulink, LabView, SCADE, ASCET, and many other modeling tools that emphasize the flow of data in a system. The main differences to normal graphs are the port constraints given by the input and output ports of each actor and the implicit hyperedges that occur when multiple connections leave a single output port. KLoDD is the result of KIELER&apos;s first approach to solve these special problems, and is also able to handle hierarchical dataflow diagrams."
            id="de.cau.cs.kieler.klodd.hierarchical"
            name="KLoDD Hierarchical"
            preview="images/hierarchical.png"
            type="de.cau.cs.kieler.type.layered">
         <supportedDiagram
               priority="10"
               type="de.cau.cs.kieler.layout.diagrams.dataFlow">
         </supportedDiagram>
         <knownOption
               option="de.cau.cs.kieler.sizeConstraint">
         </knownOption>
         <knownOption
               default="RIGHT"
               option="de.cau.cs.kieler.direction">
         </knownOption>
         <knownOption
               default="15"
               option="de.cau.cs.kieler.spacing">
         </knownOption>
         <knownOption
               default="15"
               option="de.cau.cs.kieler.borderSpacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.portConstraints">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klodd.interactive">
         </knownOption>
      </layoutAlgorithm>
      <layoutOption
            appliesTo="parents"
            class="de.cau.cs.kieler.klodd.hierarchical.InteractionLevel"
            default="NONE"
            description="Select the level of interaction, that is how the algorithm respects the user&apos;s layout"
            id="de.cau.cs.kieler.klodd.interactive"
            name="Interactive"
            type="enum">
      </layoutOption>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler.kiml.ui.preferences.layout"
            class="de.cau.cs.kieler.klodd.ui.preferences.KloddLayouterPreferencePage"
            id="edu.unikiel.rtsys.klodd.preferences"
            name="Data Flow">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.cau.cs.kieler.klodd.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
</plugin>
