<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="de.cau.cs.kieler.layout"
            class="de.cau.cs.kieler.klay.debugview.DebugView"
            icon="images/debug.gif"
            id="de.cau.cs.kieler.klay.debug.debugview"
            name="KLay Debug View"
            restorable="true">
      </view>
   </extension>

</plugin>
