<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension point="org.eclipse.ui.commands">
		<command categoryId="de.cau.cs.kieler.ksbase.ui.ksbaseCategory"
			id="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Connect_Ports"
			name="Connect Ports">
			<commandParameter id="de.cau.cs.kieler.ksbase.editorParameter"
				name="editor" />
			<commandParameter id="de.cau.cs.kieler.ksbase.transformationParameter"
				name="transformation" />
		</command>
		<command categoryId="de.cau.cs.kieler.ksbase.ui.ksbaseCategory"
			id="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Connect_Boxes"
			name="Connect Boxes">
			<commandParameter id="de.cau.cs.kieler.ksbase.editorParameter"
				name="editor" />
			<commandParameter id="de.cau.cs.kieler.ksbase.transformationParameter"
				name="transformation" />
		</command>
		<command categoryId="de.cau.cs.kieler.ksbase.ui.ksbaseCategory"
			id="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Connect_All_Open_Ports"
			name="Connect All Open Ports">
			<commandParameter id="de.cau.cs.kieler.ksbase.editorParameter"
				name="editor" />
			<commandParameter id="de.cau.cs.kieler.ksbase.transformationParameter"
				name="transformation" />
		</command>
		<command categoryId="de.cau.cs.kieler.ksbase.ui.ksbaseCategory"
			id="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Create_Successor"
			name="Create Successor">
			<commandParameter id="de.cau.cs.kieler.ksbase.editorParameter"
				name="editor" />
			<commandParameter id="de.cau.cs.kieler.ksbase.transformationParameter"
				name="transformation" />
		</command>
		<command categoryId="de.cau.cs.kieler.ksbase.ui.ksbaseCategory"
			id="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Create_Predecessor"
			name="Create Predecessor">
			<commandParameter id="de.cau.cs.kieler.ksbase.editorParameter"
				name="editor" />
			<commandParameter id="de.cau.cs.kieler.ksbase.transformationParameter"
				name="transformation" />
		</command>
		<command categoryId="de.cau.cs.kieler.ksbase.ui.ksbaseCategory"
			id="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Insert_Box"
			name="Insert Box">
			<commandParameter id="de.cau.cs.kieler.ksbase.editorParameter"
				name="editor" />
			<commandParameter id="de.cau.cs.kieler.ksbase.transformationParameter"
				name="transformation" />
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="menu:de.cau.cs.kieler">
			<command
				commandId="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Connect_Boxes"
				label="Connect Boxes">
				<parameter name="de.cau.cs.kieler.ksbase.editorParameter"
					value="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID" />
				<parameter name="de.cau.cs.kieler.ksbase.transformationParameter"
					value="connectBoxes" />
				<visibleWhen checkEnabled="false">
					<iterate ifEmpty="false" operator="or">
						<with variable="activeEditor">
							<instanceof
								value="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID" />
						</with>
					</iterate>
				</visibleWhen>
			</command>
			<command
				commandId="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Connect_Ports"
				label="Connect Ports">
				<parameter name="de.cau.cs.kieler.ksbase.editorParameter"
					value="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID" />
				<parameter name="de.cau.cs.kieler.ksbase.transformationParameter"
					value="connectPorts" />
				<visibleWhen checkEnabled="false">
					<iterate ifEmpty="false" operator="or">
						<with variable="activeEditor">
							<instanceof
								value="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID" />
						</with>
					</iterate>
				</visibleWhen>
			</command>
			<command
				commandId="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Create_Successor"
				label="Create Successor">
				<parameter name="de.cau.cs.kieler.ksbase.editorParameter"
					value="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID" />
				<parameter name="de.cau.cs.kieler.ksbase.transformationParameter"
					value="createSuccessor" />
				<visibleWhen checkEnabled="false">
					<iterate ifEmpty="false" operator="or">
						<with variable="activeEditor">
							<instanceof
								value="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID" />
						</with>
					</iterate>
				</visibleWhen>
			</command>
			<command
				commandId="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Create_Predecessor"
				label="Create Predecessor">
				<parameter name="de.cau.cs.kieler.ksbase.editorParameter"
					value="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID" />
				<parameter name="de.cau.cs.kieler.ksbase.transformationParameter"
					value="createPredecessor" />
				<visibleWhen checkEnabled="false">
					<iterate ifEmpty="false" operator="or">
						<with variable="activeEditor">
							<instanceof
								value="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID" />
						</with>
					</iterate>
				</visibleWhen>
			</command>
			<command
				commandId="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Connect_All_Open_Ports"
				label="Connect All Open Ports">
				<parameter name="de.cau.cs.kieler.ksbase.editorParameter"
					value="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID" />
				<parameter name="de.cau.cs.kieler.ksbase.transformationParameter"
					value="connectAllBoxPorts" />
				<visibleWhen checkEnabled="false">
					<iterate ifEmpty="false" operator="or">
						<with variable="activeEditor">
							<instanceof
								value="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID" />
						</with>
					</iterate>
				</visibleWhen>
			</command>
			<command
				commandId="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Insert_Box"
				label="Insert Box">
				<parameter name="de.cau.cs.kieler.ksbase.editorParameter"
					value="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID" />
				<parameter name="de.cau.cs.kieler.ksbase.transformationParameter"
					value="insertBoxInConnection" />
				<visibleWhen checkEnabled="false">
					<iterate ifEmpty="false" operator="or">
						<with variable="activeEditor">
							<instanceof
								value="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID" />
						</with>
					</iterate>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.bindings">
		<key
			commandId="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Connect_Ports"
			contextId="de.cau.cs.kieler.dataflow.diagram.ui.diagramContext"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="M1+K O">
			<parameter id="de.cau.cs.kieler.ksbase.editorParameter"
				value="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID" />
			<parameter id="de.cau.cs.kieler.ksbase.transformationParameter"
				value="connectPorts" />
		</key>
		<key
			commandId="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Connect_Boxes"
			contextId="de.cau.cs.kieler.dataflow.diagram.ui.diagramContext"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="M1+K B">
			<parameter id="de.cau.cs.kieler.ksbase.editorParameter"
				value="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID" />
			<parameter id="de.cau.cs.kieler.ksbase.transformationParameter"
				value="connectBoxes" />
		</key>
		<key
			commandId="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Connect_All_Open_Ports"
			contextId="de.cau.cs.kieler.dataflow.diagram.ui.diagramContext"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="M1+K A">
			<parameter id="de.cau.cs.kieler.ksbase.editorParameter"
				value="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID" />
			<parameter id="de.cau.cs.kieler.ksbase.transformationParameter"
				value="connectAllBoxPorts" />
		</key>
		<key
			commandId="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Create_Successor"
			contextId="de.cau.cs.kieler.dataflow.diagram.ui.diagramContext"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="M1+K S">
			<parameter id="de.cau.cs.kieler.ksbase.editorParameter"
				value="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID" />
			<parameter id="de.cau.cs.kieler.ksbase.transformationParameter"
				value="createSuccessor" />
		</key>
		<key
			commandId="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Create_Predecessor"
			contextId="de.cau.cs.kieler.dataflow.diagram.ui.diagramContext"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="M1+K P">
			<parameter id="de.cau.cs.kieler.ksbase.editorParameter"
				value="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID" />
			<parameter id="de.cau.cs.kieler.ksbase.transformationParameter"
				value="createPredecessor" />
		</key>
		<key
			commandId="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Insert_Box"
			contextId="de.cau.cs.kieler.dataflow.diagram.ui.diagramContext"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="M1+K I">
			<parameter id="de.cau.cs.kieler.ksbase.editorParameter"
				value="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID" />
			<parameter id="de.cau.cs.kieler.ksbase.transformationParameter"
				value="insertBoxInConnection" />
		</key>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			commandId="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Connect_Ports">
			<class
				class="de.cau.cs.kieler.ksbase.ui.handler.TransformationCommandHandler" />
			<enabledWhen>
				<with variable="selection">
					<iterate ifEmpty="false" operator="and">
						<test
							args="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID,de.cau.cs.kieler.dataflow.sbase.connectPorts"
							forcePluginActivation="true"
							property="de.cau.cs.kieler.ksbase.ui.modelTesting.isModelInstance" />
					</iterate>
				</with>
			</enabledWhen>
		</handler>
		<handler
			commandId="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Connect_Boxes">
			<class
				class="de.cau.cs.kieler.ksbase.ui.handler.TransformationCommandHandler" />
			<enabledWhen>
				<with variable="selection">
					<iterate ifEmpty="false" operator="and">
						<test
							args="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID,de.cau.cs.kieler.dataflow.sbase.connectBoxes"
							forcePluginActivation="true"
							property="de.cau.cs.kieler.ksbase.ui.modelTesting.isModelInstance" />
					</iterate>
				</with>
			</enabledWhen>
		</handler>
		<handler
			commandId="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Connect_All_Open_Ports">
			<class
				class="de.cau.cs.kieler.ksbase.ui.handler.TransformationCommandHandler" />
			<enabledWhen>
				<with variable="selection">
					<iterate ifEmpty="false" operator="and">
						<test
							args="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID,de.cau.cs.kieler.dataflow.sbase.connectAll"
							forcePluginActivation="true"
							property="de.cau.cs.kieler.ksbase.ui.modelTesting.isModelInstance" />
					</iterate>
				</with>
			</enabledWhen>
		</handler>
		<handler
			commandId="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Create_Successor">
			<class
				class="de.cau.cs.kieler.ksbase.ui.handler.TransformationCommandHandler" />
			<enabledWhen>
				<with variable="selection">
					<iterate ifEmpty="false" operator="and">
						<test
							args="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID,de.cau.cs.kieler.dataflow.sbase.Suc"
							forcePluginActivation="true"
							property="de.cau.cs.kieler.ksbase.ui.modelTesting.isModelInstance" />
					</iterate>
				</with>
			</enabledWhen>
		</handler>
		<handler
			commandId="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Create_Predecessor">
			<class
				class="de.cau.cs.kieler.ksbase.ui.handler.TransformationCommandHandler" />
			<enabledWhen>
				<with variable="selection">
					<iterate ifEmpty="false" operator="and">
						<test
							args="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID,de.cau.cs.kieler.dataflow.sbase.Predec"
							forcePluginActivation="true"
							property="de.cau.cs.kieler.ksbase.ui.modelTesting.isModelInstance" />
					</iterate>
				</with>
			</enabledWhen>
		</handler>
		<handler
			commandId="de.cau.cs.kieler.ksbase.de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID.Insert_Box">
			<class
				class="de.cau.cs.kieler.ksbase.ui.handler.TransformationCommandHandler" />
			<enabledWhen>
				<with variable="selection">
					<iterate ifEmpty="false" operator="and">
						<test
							args="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID,de.cau.cs.kieler.dataflow.sbase.insertBox"
							forcePluginActivation="true"
							property="de.cau.cs.kieler.ksbase.ui.modelTesting.isModelInstance" />
					</iterate>
				</with>
			</enabledWhen>
		</handler>
	</extension>
</plugin>
