<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.ui.intro.configExtension">
      <configExtension configId="org.eclipse.ui.intro.universalConfig" content="intro/introContent.xml">
      </configExtension>
 </extension>
</plugin>