<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layout.layoutInfo">
      <option
            class="de.cau.cs.kieler.dataflow.DataflowModel"
            option="de.cau.cs.kieler.layout.options.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.dataFlow">
      </option>
      <option
            class="de.cau.cs.kieler.dataflow.Box"
            option="de.cau.cs.kieler.layout.options.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.dataFlow">
      </option>
      <option
            class="de.cau.cs.kieler.dataflow.Box"
            option="de.cau.cs.kieler.layout.options.borderSpacing"
            value="10.0">
      </option>
   </extension>
</plugin>
