<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler.preferencePage"
            class="de.cau.cs.kieler.ksbase.ui.KSBasEPreferencePage"
            id="de.cau.cs.kieler.ksbase.PreferencePage"
            name="KSBasE">
      </page>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="de.cau.cs.kieler.ksbase.transformations.TransformationEditPolicyProvider">
         <Priority
               name="Lowest">
         </Priority>
      </editpolicyProvider>
   </extension>

</plugin>
