<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="de.cau.cs.kieler.ksbase.configurations">
		<configuration checkVisibility="true"
		    contextId="de.cau.cs.kieler.keg.diagram.ui.diagramContext"
			editorId="de.cau.cs.kieler.keg.diagram.part.GraphsDiagramEditorID">
			<transformations>
				<transformation
          icon="icons/obj16/addSuc.gif"
          keyboardShortcut="M1+R S"
          menu="true"
          name="Add Successor"
          popup="true"
          popupbar="true"
          separated="false"
          toolbar="true"
          transformation="addSuccessor"
          transformationId="de.cau.cs.kieler.keg.ksbase.addSuc"
          validation="isNoRootNode">
				</transformation>
				<transformation
          icon="icons/obj16/addPred.gif"
          keyboardShortcut="M1+R P"
          menu="true"
          name="Add Predecessor"
          popup="true"
          popupbar="true"
          separated="false"
          toolbar="true"
          transformation="addPredecessor"
          transformationId="de.cau.cs.kieler.keg.ksbase.addPred"
          validation="isNoRootNode">
				</transformation>
				<transformation
          icon="icons/obj16/addNeigh.gif"
          keyboardShortcut="M1+R N"
          menu="true"
          name="Add Neighbour"
          popup="true"
          popupbar="true"
          separated="false"
          toolbar="true"
          transformation="addNeighbour"
          transformationId="de.cau.cs.kieler.keg.ksbase.addNeigh"
          validation="isNoRootNode">
				</transformation>
				<transformation
          icon="icons/obj16/connectDir.gif"
          keyboardShortcut="M1+R D"
          menu="true"
          name="Connect (Directed)"
          popup="true"
          popupbar="true"
          separated="false"
          toolbar="true"
          transformation="connectDirected"
          transformationId="de.cau.cs.kieler.keg.ksbase.connectDir">
				</transformation>
				<transformation
          icon="icons/obj16/connectUndir.gif"
          keyboardShortcut="M1+R U"
          menu="true"
          name="Connect (Undirected)"
          popup="true"
          popupbar="true"
          separated="false"
          toolbar="true"
          transformation="connectUndirected"
          transformationId="de.cau.cs.kieler.keg.ksbase.connectUndir">
				</transformation>
				<transformation
          icon="icons/obj16/connectHyper.gif"
          keyboardShortcut="M1+R H"
          menu="true"
          name="Connect (Hyperedge)"
          popup="true"
          popupbar="true"
          separated="false"
          toolbar="true"
          transformation="connectHyper"
          transformationId="de.cau.cs.kieler.keg.ksbase.connectHyper"
          validation="isNotEmptySelection">
				</transformation>
				<transformation
          icon="icons/obj16/flipEdge.gif"
          keyboardShortcut="M1+R F"
          menu="true"
          name="Flip"
          popup="true"
          popupbar="true"
          separated="false"
          toolbar="true"
          transformation="flip"
          transformationId="de.cau.cs.kieler.keg.ksbase.flip">
				</transformation>
				<transformation
          icon="icons/obj16/toggleDirUndir.gif"
          keyboardShortcut="M1+R T"
          menu="true"
          name="Toggle Directed/Undirected"
          popup="true"
          popupbar="true"
          separated="false"
          toolbar="true"
          transformation="toggleDirectedUndirected"
          transformationId="de.cau.cs.kieler.keg.ksbase.toggleDirUndir">
				</transformation>
				<transformation
          icon="icons/obj16/toggleHyper.gif"
          keyboardShortcut="M1+R Q"
          menu="true"
          name="Toggle Node/Hypernode"
          popup="true"
          popupbar="true"
          separated="false"
          toolbar="true"
          transformation="toggleNodeHyper"
          transformationId="de.cau.cs.kieler.keg.ksbase.toggleNodeHyper"
          validation="isNoRootNode">
				</transformation>
				<transformation
          icon="icons/obj16/encapsulate.gif"
          keyboardShortcut="M1+R E"
          menu="true"
          name="Encapsulate"
          popup="true"
          popupbar="true"
          separated="false"
          toolbar="true"
          transformation="encapsulate"
          transformationId="de.cau.cs.kieler.keg.ksbase.encapsulate"
          validation="isNotEmptySelection">
				</transformation>
    <transformation
          icon="icons/obj16/clique.gif"
          keyboardShortcut="M1+R C"
          menu="true"
          name="Add Clique"
          popup="true"
          popupbar="true"
          separated="true"
          toolbar="true"
          transformation="addClique"
          transformationId="de.cau.cs.kieler.keg.ksbase.addClique">
    </transformation>
    <transformation
          icon="icons/obj16/tree.gif"
          keyboardShortcut="M1+R V"
          menu="true"
          name="Add Tree"
          popup="true"
          popupbar="true"
          separated="false"
          toolbar="true"
          transformation="addTree"
          transformationId="de.cau.cs.kieler.keg.ksbase.addTree">
    </transformation>
    <transformation
          icon="icons/obj16/circle.gif"
          keyboardShortcut="M1+R X"
          menu="true"
          name="Add Circle"
          popup="true"
          popupbar="true"
          separated="false"
          toolbar="true"
          transformation="addCircle"
          transformationId="de.cau.cs.kieler.keg.ksbase.addCircle">
    </transformation>
			</transformations>
			<package class="de.cau.cs.kieler.keg.KEGPackage">
			</package>
   <XtendTransformationFile
         TransformationFile="transformations/feature.ext">
   </XtendTransformationFile>
		</configuration>
	</extension>
 <extension
       point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
    <GlobalActionHandlerProvider
          class="de.cau.cs.kieler.keg.ksbase.copypaste.KEGCutCopyPasteHandlerProvider"
          id="de.cau.cs.kieler.keg.ksbase.CutCopyPasteHandler">
       <Priority
             name="Lowest">
       </Priority>
       <ViewId
             id="de.cau.cs.kieler.keg.diagram.part.GraphsDiagramEditorID">
          <ElementType
                class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
             <GlobalActionId
                   actionId="paste">
             </GlobalActionId>
             <GlobalActionId
                   actionId="copy">
             </GlobalActionId>
             <GlobalActionId
                   actionId="cut">
             </GlobalActionId>
          </ElementType>
       </ViewId>
    </GlobalActionHandlerProvider>
 </extension>
</plugin>
