<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layoutProviders">
      <layoutAlgorithm
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.klay.planar.PlanarLayoutProvider"
            id="de.cau.cs.kieler.klay.planar.orthogonal"
            name="KLay Orthogonal"
            type="de.cau.cs.kieler.type.orthogonal">
         <knownOption
               option="de.cau.cs.kieler.klay.planar.planarityTest">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.debugMode">
         </knownOption>
         <knownOption
               default="40"
               option="de.cau.cs.kieler.spacing">
         </knownOption>
      </layoutAlgorithm>
      <layoutOption
            appliesTo="parents"
            class="de.cau.cs.kieler.klay.planar.p1planar.PlanarityTestStrategy"
            default="BOYER_MYRVOLD_ALGORITHM"
            description="Defines which algorithm to use for planar testing."
            id="de.cau.cs.kieler.klay.planar.planarityTest"
            name="Planar Testing Algorithm"
            type="enum">
      </layoutOption>
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.service.analysisProviders">
      <analysis
            category="de.cau.cs.kieler.kiml.grana.basic"
            class="de.cau.cs.kieler.klay.planar.PlanarityAnalysis"
            description="The number of edges to remove for a planar subgraph, that is one that allows a drawing with no edge crossings."
            id="de.cau.cs.kieler.klay.planarity"
            name="Planarity">
      </analysis>
   </extension>

</plugin>
