<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layoutProviders">
      <layoutAlgorithm
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.klay.planar.PlanarLayoutProvider"
            id="de.cau.cs.kieler.klay.planar.orthogonal"
            name="KLay Orthogonal"
            type="de.cau.cs.kieler.type.orthogonal">
         <knownOption
               option="de.cau.cs.kieler.klay.planar.planarityTest">
         </knownOption>
      </layoutAlgorithm>
      <layoutOption
            appliesTo="parents"
            class="de.cau.cs.kieler.klay.planar.planarity.PlanarityTestStrategy"
            default="BOYER_MYRVOLD_ALGORITHM"
            description="Defines which algorithm to use for planar testing."
            id="de.cau.cs.kieler.klay.planar.planarityTest"
            name="Planar Testing Algorithm"
            type="enum">
      </layoutOption>
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.service.analysisProviders">
      <analysis
            category="de.cau.cs.kieler.kiml.grana.basic"
            class="de.cau.cs.kieler.klay.planar.PlanarityAnalysis"
            description="Check if a graph is planar, i.e. if a embedding for the graph exists, so that there are no crossing edges."
            id="de.cau.cs.kieler.klay.planar.analysis.planarity"
            name="Planarity Analysis">
      </analysis>
   </extension>

</plugin>
