<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layoutProviders">
      <layoutType
            description="Layout type for UML Sequence Diagrams"
            id="de.cau.cs.kieler.papyrus.types.sequence"
            name="UML Sequence Diagrams">
      </layoutType>
      <layoutAlgorithm
            class="de.cau.cs.kieler.papyrus.sequence.SequenceDiagramLayoutProvider"
            id="de.cau.cs.kieler.papyrus.sequence.layout"
            name="Sequence Diagram Layouter"
            type="de.cau.cs.kieler.papyrus.types.sequence">
         <supportedDiagram
               priority="15"
               type="de.cau.cs.kieler.papyrus.diagrams.sequenceDiagram">
         </supportedDiagram>
         <knownOption
               default="20"
               option="de.cau.cs.kieler.borderSpacing">
         </knownOption>
         <knownOption
               default="50"
               option="de.cau.cs.kieler.papyrus.sequence.lifelineSpacing">
         </knownOption>
         <knownOption
               default="50"
               option="de.cau.cs.kieler.papyrus.sequence.messageSpacing">
         </knownOption>
         <knownOption
               default="INTERACTIVE"
               option="de.cau.cs.kieler.papyrus.sequence.lifelineSorting">
         </knownOption>
         <knownOption
               default="FIRST_CENTER"
               option="de.cau.cs.kieler.papyrus.sequence.labelAlignment">
         </knownOption>
         <knownOption
               default="false"
               option="de.cau.cs.kieler.papyrus.sequence.groupAreas">
         </knownOption>
      </layoutAlgorithm>
      <layoutOption
            advanced="false"
            appliesTo="parents"
            default="20"
            description="The border or margin width"
            id="de.cau.cs.kieler.borderSpacing"
            name="Border spacing"
            type="float">
      </layoutOption>
      <layoutOption
            advanced="false"
            appliesTo="parents"
            default="50"
            description="The horizontal spacing between two neighbored lifelines"
            id="de.cau.cs.kieler.papyrus.sequence.lifelineSpacing"
            name="Lifeline spacing"
            type="float">
      </layoutOption>
      <layoutOption
            advanced="false"
            appliesTo="parents"
            default="40"
            description="The vertical spacing between two message layers"
            id="de.cau.cs.kieler.papyrus.sequence.messageSpacing"
            name="Message spacing"
            type="float">
      </layoutOption>
      <layoutOption
            advanced="false"
            appliesTo="parents"
            class="de.cau.cs.kieler.papyrus.sequence.sorter.LifelineSortingStrategy"
            default="INTERACTIVE"
            description="The sorting strategy that is used to order the lifelines horizontally"
            id="de.cau.cs.kieler.papyrus.sequence.lifelineSorting"
            name="Lifeline sorting"
            type="enum">
      </layoutOption>
      <layoutOption
            advanced="false"
            appliesTo="parents"
            class="de.cau.cs.kieler.papyrus.sequence.LabelAlignment"
            default="FIRST_CENTER"
            description="The strategy that is used to find the right horizontal position for message labels."
            id="de.cau.cs.kieler.papyrus.sequence.labelAlignment"
            name="Label Alignment"
            type="enum">
      </layoutOption>
      <layoutOption
            advanced="false"
            appliesTo="parents"
            default="false"
            description="Defines, if messages that are contained in areas, such as combined fragments, are given higher priority in the minimization process of message&apos;s length."
            id="de.cau.cs.kieler.papyrus.sequence.groupAreas"
            name="Group areas"
            type="boolean">
         <dependency
               option="de.cau.cs.kieler.papyrus.sequence.lifelineSorting"
               value="SHORT_MESSAGES">
         </dependency>
      </layoutOption>
   </extension>

</plugin>
