<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="resultVisualizers" name="ResultVisualizers" schema="schema/resultVisualizers.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.cau.cs.kieler.layout"
            defaultHandler="de.cau.cs.kieler.kiml.grana.handlers.BatchHandler"
            id="de.cau.cs.kieler.kiml.grana.command.setupBatch"
            name="Setup Batch">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="de.cau.cs.kieler.kiml.grana.command.setupBatch"
               icon="icons/menu16/analyzediagram.gif"
               label="Setup Analysis Batch..."
               style="push"
               tooltip="Analyze multiple graphs in batch mode">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.cau.cs.kieler.kiml.grana.canSetupBatch">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="de.cau.cs.kieler.layout"
            class="de.cau.cs.kieler.kiml.grana.views.AnalysisResultViewPart"
            icon="icons/menu16/analyzediagram.gif"
            id="de.cau.cs.kieler.kiml.grana.views.analysisResults"
            name="Graph Analysis"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.cau.cs.kieler.kiml.grana.canSetupBatch">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <or>
                 <instanceof
                     value="org.eclipse.core.resources.IFile">
                 </instanceof>
                 <instanceof
                     value="org.eclipse.core.resources.IFolder">
                 </instanceof>
                 <instanceof
                     value="org.eclipse.core.resources.IProject">
                 </instanceof>
               </or>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.grana.resultVisualizers">
      <type
            name="text">
      </type>
      <type
            name="html">
      </type>
      <type
            name="csv">
      </type>
      <visualizer
            class="de.cau.cs.kieler.kiml.grana.visualizers.ToStringVisualizer"
            priority="1"
            type="text">
      </visualizer>
      <visualizer
            class="de.cau.cs.kieler.kiml.grana.visualizers.ArrayResultVisualizer"
            priority="10"
            type="text">
      </visualizer>
      <visualizer
            class="de.cau.cs.kieler.kiml.grana.visualizers.AnalysisFailedHtmlVisualizer"
            priority="10"
            type="html">
      </visualizer>
      <visualizer
            class="de.cau.cs.kieler.kiml.grana.visualizers.BasicHtmlVisualizer"
            priority="1"
            type="html">
      </visualizer>
      <visualizer
            class="de.cau.cs.kieler.kiml.grana.visualizers.BasicCSVVisualizer"
            priority="1"
            type="csv">
      </visualizer>
      <visualizationMethod
            class="de.cau.cs.kieler.kiml.grana.views.ViewVisualizationMethod"
            default="true"
            silent="true"
            type="html">
      </visualizationMethod>
   </extension>

</plugin>
