<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="analysisProviders" name="AnalysisProviders" schema="schema/analysisProviders.exsd"/>
   <extension
         point="de.cau.cs.kieler.kiml.grana.analysisProviders">
      <category
            description="This is the default category."
            id="de.cau.cs.kieler.kiml.grana.defaultCategory"
            name="Other">
      </category>
      <category
            description="Basic graph analyses."
            id="de.cau.cs.kieler.kiml.grana.basicAnalyses"
            name="Basic Analyses">
      </category>
      <category
            description="Analyses that analyse the graph drawing."
            id="de.cau.cs.kieler.kiml.grana.drawingsCategory"
            name="Drawing Analyses">
      </category>
      <provider
            category="de.cau.cs.kieler.kiml.grana.basicAnalyses"
            class="de.cau.cs.kieler.kiml.grana.analyses.NodeDegreeAnalysis"
            description="The minimum, average and maximum node degree of all nodes including hierarchies."
            id="de.cau.cs.kieler.kiml.grana.averageNodeDegree"
            name="Node Degree">
      </provider>
      <provider
            category="de.cau.cs.kieler.kiml.grana.basicAnalyses"
            class="de.cau.cs.kieler.kiml.grana.analyses.EdgeCountAnalysis"
            description="The number of edges including hierarchies."
            id="de.cau.cs.kieler.kiml.grana.edgeCount"
            name="Edge Count">
      </provider>
      <provider
            category="de.cau.cs.kieler.kiml.grana.basicAnalyses"
            class="de.cau.cs.kieler.kiml.grana.analyses.NodeCountAnalysis"
            description="The number of nodes including hierarchies."
            id="de.cau.cs.kieler.kiml.grana.nodeCount"
            name="Node Count">
      </provider>
      <provider
            category="de.cau.cs.kieler.kiml.grana.drawingsCategory"
            class="de.cau.cs.kieler.kiml.grana.analyses.BendsAnalysis"
            description="The number of bendpoints in the graph including hierarchies."
            id="de.cau.cs.kieler.kiml.grana.bendpointCount"
            name="Number of Bends">
      </provider>
      <provider
            category="de.cau.cs.kieler.kiml.grana.drawingsCategory"
            class="de.cau.cs.kieler.kiml.grana.analyses.EdgeLengthAnalysis"
            description="The minimum, average and maximum edge length."
            id="de.cau.cs.kieler.kiml.grana.edgeLength"
            name="Edge Length">
      </provider>
      <provider
            category="de.cau.cs.kieler.kiml.grana.drawingsCategory"
            class="de.cau.cs.kieler.kiml.grana.analyses.EdgeCrossingsAnalysis"
            description="The number of edge crossings including hierarchies."
            id="de.cau.cs.kieler.kiml.grana.edgeCrossings"
            name="Number of Edge Crossings">
      </provider>
      <resultVisualizer
            class="de.cau.cs.kieler.kiml.grana.visualizers.ToStringVisualizer"
            priority="1">
      </resultVisualizer>
      <resultVisualizer
            class="de.cau.cs.kieler.kiml.grana.visualizers.MinAvgMaxResultVisualizer"
            priority="10">
      </resultVisualizer>
      <resultVisualizer
            class="de.cau.cs.kieler.kiml.grana.visualizers.AnalysisFailedVisualizer"
            priority="10">
      </resultVisualizer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.cau.cs.kieler"
            defaultHandler="de.cau.cs.kieler.kiml.grana.handlers.AnalysisHandler"
            id="de.cau.cs.kieler.kiml.grana.command.analyse"
            name="Analyse">
      </command>
      <command
            categoryId="de.cau.cs.kieler"
            defaultHandler="de.cau.cs.kieler.kiml.grana.handlers.ConfigureAnalysesHandler"
            id="de.cau.cs.kieler.kiml.grana.command.configureAnalyses"
            name="Configure Analyses">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:de.cau.cs.kieler">
         <command
               commandId="de.cau.cs.kieler.kiml.grana.command.analyse"
               icon="icons/menu16/analyzediagram.gif"
               id="de.cau.cs.kieler.kiml.grana.menu.analysis"
               label="Analyse"
               style="pulldown"
               tooltip="Analyse the current diagram with KIELER">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditor">
                  <test
                        forcePluginActivation="false"
                        property="de.cau.cs.kieler.kiml.ui.activeEditorIsSupported">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:de.cau.cs.kieler.kiml.grana.menu.analysis">
         <command
               commandId="de.cau.cs.kieler.kiml.grana.command.configureAnalyses"
               label="Configure..."
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
