<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.core.kivi.combinations">
      <combination
            active="false"
            class="de.cau.cs.kieler.klighd.xtext.UpdateXtextModelKLighDCombination"
            description="Updates the KlighD view if a model change in an Xtext editor happens"
            name="Create graphical views of textual specifications">
      </combination>
      <combination
            active="true"
            class="de.cau.cs.kieler.klighd.xtext.VisualizeKGraphCombination"
            description="Provides and updates graphical representations of textually formulated KGraphs"
            name="Graphical representations of textually formulated KGraphs">
      </combination>
      <combination
            active="true"
            class="de.cau.cs.kieler.klighd.xtext.HighlightChosenElementInXtextEditorCombination"
            name="Highlight the (Xtext-)definitions of selected elements in KLighD diagrams">
      </combination>
      <combination
            active="true"
            class="de.cau.cs.kieler.klighd.xtext.CropDiagramCombination"
            name="Crop KLighD diagram by a box-based selection">
      </combination>
   </extension>

</plugin>
