<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.klighd.xtext.transformations.KGraphDiagramSynthesis"
            id="de.cau.cs.kieler.klighd.xtext.transformations.KGraphDiagramSynthesis">
      </diagramSynthesis>
      <!-- deactivated for the moment to avoid collisions with other gml syntheses -->
      <!--diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.klighd.xtext.transformations.GMLDiagramSynthesis"
            id="de.cau.cs.kieler.klighd.xtext.transformations.GMLDiagramSynthesis">
      </diagramSynthesis-->
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.klighd.xtext.view.syntheses.MessageModelSynthesis"
            id="de.cau.cs.kieler.klighd.xtext.view.syntheses.MessageModelSynthesis">
      </diagramSynthesis>
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.klighd.xtext.view.syntheses.ErrorModelSynthesis"
            id="de.cau.cs.kieler.klighd.xtext.view.syntheses.ErrorModelSynthesis">
      </diagramSynthesis>
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.klighd.xtext.view.syntheses.EcoreModelSynthesis"
            id="de.cau.cs.kieler.klighd.xtext.view.syntheses.EcoreModelSynthesis">
      </diagramSynthesis>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <handler
            class="de.cau.cs.kieler.klighd.xtext.XtextModelModificationHandler">
      </handler>
      <action
            class="de.cau.cs.kieler.klighd.xtext.view.syntheses.action.ErrorModelShowExceptionAction"
            id="de.cau.cs.kieler.klighd.xtext.view.syntheses.action.ErrorModelShowExceptionAction">
      </action>
      <action
            class="de.cau.cs.kieler.klighd.xtext.view.syntheses.action.EcoreModelExpandDetailsAction"
            id="de.cau.cs.kieler.klighd.xtext.view.syntheses.action.EcoreModelExpandDetailsAction">
      </action>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.ui.view.controller">
      <controller
            class="de.cau.cs.kieler.klighd.xtext.view.XtextChangeUpdateController">
      </controller>
      <controller
            class="de.cau.cs.kieler.klighd.xtext.view.EcoreXtextSaveUpdateController">
      </controller>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.cau.cs.kieler.klighd.xtext.transformations.OpenGraphDiagramHandler"
            id="de.cau.cs.kieler.klighd.xtext.graphDiagram"
            name="Open General Graph Diagram">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <command
               commandId="de.cau.cs.kieler.klighd.xtext.graphDiagram"
               label="Open General Graph Diagram"
               style="push"
               tooltip="Opens a generic visualization of the graph&apos;s structure.">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <or>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                        <test
                              property="de.cau.cs.kieler.klighd.xtext.graphFormatIsSupported">
                        </test>
                     </and>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.cau.cs.kieler.klighd.xtext.transformations.SupportedGraphFormatPropertyTester"
            id="de.cau.cs.kieler.klighd.xtext.SupportedGraphFormatPropertyTester"
            namespace="de.cau.cs.kieler.klighd.xtext"
            properties="graphFormatIsSupported"
            type="org.eclipse.core.resources.IFile">
      </propertyTester>
   </extension>

</plugin>
