<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.core.kivi.combinations">
      <combination
            active="true"
            class="de.cau.cs.kieler.klighd.xtext.UpdateXtextModelKLighDCombination"
            description="Updates the KlighD view if a model change in an Xtext editor happens"
            name="Create graphical views of textual specifications">
      </combination>
   </extension>

</plugin>
