<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="graphTransformers" name="Graph Transformers" schema="schema/graphTransformers.exsd"/>
   <extension-point id="analysisProviders" name="AnalysisProviders" schema="schema/analysisProviders.exsd"/>
   <extension
         point="de.cau.cs.kieler.kiml.service.graphTransformers">
      <handler
            class="de.cau.cs.kieler.kiml.service.KGraphHandler"
            description="Internally used graph format of the KIELER project. See http://rtsys.informatik.uni-kiel.de/trac/kieler/wiki/KGraph"
            extensions="kgraph,xmi"
            id="de.cau.cs.kieler.kgraph"
            name="KGraph">
      </handler>
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.service.analysisProviders">
      <category
            description="This is the default category."
            id="de.cau.cs.kieler.kiml.grana.defaultCategory"
            name="Other">
      </category>
      <category
            description="Basic graph analyses."
            id="de.cau.cs.kieler.kiml.grana.basic"
            name="Basic Analyses">
      </category>
      <category
            description="Analyses that analyse the graph drawing."
            id="de.cau.cs.kieler.kiml.grana.drawing"
            name="Drawing Analyses">
      </category>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.drawing"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.AspectRatioAnalysis"
            description="The aspect ratio of the area a graph drawing occupies. (width / height)"
            id="de.cau.cs.kieler.kiml.grana.aspectRatio"
            name="Aspect Ratio">
         <dependency
               analysis="de.cau.cs.kieler.kiml.grana.area"
               weak="false">
         </dependency>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.basic"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.BiconnectedComponentsAnalysis"
            description="The number of biconnected components, including hierarchies."
            id="de.cau.cs.kieler.kiml.grana.biconnectedComponents"
            name="Biconnected Components">
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.basic"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.CompoundEdgeAnalysis"
            description="Counts the number of hierarchy crossing edges and the maximal number of crossed hierarchy levels."
            id="de.cau.cs.kieler.kiml.grana.compoundEdge"
            name="Compound Edges">
         <component
               abbreviation="Count"
               name="Count">
         </component>
         <component
               abbreviation="MaxLevels"
               name="Max. Crossed Levels">
         </component>
         <component
               abbreviation="CompoundEdges"
               name="Incident to Compound Nodes">
         </component>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.basic"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.CompoundNodeCountAnalysis"
            description="The number of compound nodes including hierarchies."
            id="de.cau.cs.kieler.kiml.grana.compoundNodeCount"
            name="Compound Node Count">
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.basic"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.CompoundNodeChildCountAnalysis"
            description="The minimum, average, and maximum number of nodes per hierarchy level."
            id="de.cau.cs.kieler.kiml.grana.compoundNodeChildCount"
            name="Compound Node Child Count">
         <component
               abbreviation="Min"
               name="Minimum">
         </component>
         <component
               abbreviation="Avg"
               name="Average">
         </component>
         <component
               abbreviation="Max"
               name="Maximum">
         </component>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.basic"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.ConnectedComponentsAnalysis"
            description="The number of connected components, including hierarchies."
            id="de.cau.cs.kieler.kiml.grana.connectedComponents"
            name="Connected Components">
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.drawing"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.CoverageAnalysis"
            description="Percentage of area covered with nodes and taken up by insets."
            id="de.cau.cs.kieler.kiml.grana.coverage"
            name="Coverage">
         <dependency
               analysis="de.cau.cs.kieler.kiml.grana.nodeSize"
               weak="false">
         </dependency>
         <dependency
               analysis="de.cau.cs.kieler.kiml.grana.area"
               weak="false">
         </dependency>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.basic"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.DirectedCycleAnalysis"
            description="An approximate number of directed cycles determined by the back edges found in a minimizing heuristic."
            id="de.cau.cs.kieler.kiml.grana.directedCycles"
            name="Directed Cycles">
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.basic"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.EdgeCountAnalysis"
            description="The number of edges including hierarchies."
            id="de.cau.cs.kieler.kiml.grana.edgeCount"
            name="Edge Count">
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.basic"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.EdgeLabelCountAnalysis"
            description="The number of edge labels."
            id="de.cau.cs.kieler.kiml.grana.edgeLabelCount"
            name="Edge Label Count">
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.basic"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.HyperNodeCountAnalysis"
            description="The number of hyper nodes including hierarchies."
            id="de.cau.cs.kieler.kiml.grana.hyperNodeCount"
            name="Hyper Node Count">
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.basic"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.MultiEdgeCountAnalysis"
            description="The number of multi edges including hierarchies."
            id="de.cau.cs.kieler.kiml.grana.multiEdgeCount"
            name="Multi Edge Count">
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.basic"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.NodeCountAnalysis"
            description="The number of nodes including hierarchies."
            id="de.cau.cs.kieler.kiml.grana.nodeCount"
            name="Node Count">
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.basic"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.NodeDegreeAnalysis"
            description="The minimum, average and maximum node degree of all nodes including hierarchies."
            id="de.cau.cs.kieler.kiml.grana.averageNodeDegree"
            name="Node Degree">
         <component
               abbreviation="Min"
               name="Minimum">
         </component>
         <component
               abbreviation="Avg"
               name="Average">
         </component>
         <component
               abbreviation="Max"
               name="Maximum">
         </component>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.drawing"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.EdgeDirectionAnalysis"
            description="The number of edges going in each of the four directions."
            id="de.cau.cs.kieler.kiml.grana.edgeDirections"
            name="Edge Directions">
         <component
               name="Top">
         </component>
         <component
               name="Left">
         </component>
         <component
               name="Bottom">
         </component>
         <component
               name="Right">
         </component>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.drawing"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.EdgeLengthAnalysis"
            description="The minimum, average and maximum edge length."
            id="de.cau.cs.kieler.kiml.grana.edgeLength"
            name="Edge Length">
         <component
               abbreviation="Min"
               name="Minimum">
         </component>
         <component
               abbreviation="Avg"
               name="Average">
         </component>
         <component
               abbreviation="Max"
               name="Maximum">
         </component>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.drawing"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.HyperedgeCrossingsAnalysis"
            description="The number of hyperedge crossings."
            id="de.cau.cs.kieler.kiml.grana.hyperedgeCrossings"
            name="Hyperedge Crossings">
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.drawing"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.AreaAnalysis"
            description="The area a graph drawing occupies."
            id="de.cau.cs.kieler.kiml.grana.area"
            name="Area">
         <component
               name="Width">
         </component>
         <component
               name="Height">
         </component>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.drawing"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.EdgeCrossingsAnalysis"
            description="The number of edge crossings, including hierarchies."
            id="de.cau.cs.kieler.kiml.grana.edgeCrossings"
            name="Number of Edge Crossings">
         <component
               abbreviation="Min"
               name="Minimum">
         </component>
         <component
               abbreviation="Avg"
               name="Average">
         </component>
         <component
               abbreviation="Max"
               name="Maximum">
         </component>
         <component
               abbreviation="Sum"
               name="Sum">
         </component>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.drawing"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.NodeSizeAnalysis"
            description="The minimum, average and maximum node size."
            id="de.cau.cs.kieler.kiml.grana.nodeSize"
            name="Node Size">
         <component
               abbreviation="Min"
               name="Minimum">
         </component>
         <component
               abbreviation="Avg"
               name="Average">
         </component>
         <component
               abbreviation="Max"
               name="Maximum">
         </component>
         <component
               name="Nodes">
         </component>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.drawing"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.BendsAnalysis"
            description="The number of bendpoints in the graph including hierarchies."
            id="de.cau.cs.kieler.kiml.grana.bendpointCount"
            name="Number of Bends">
         <component
               abbreviation="Min"
               name="Minimum">
         </component>
         <component
               abbreviation="Avg"
               name="Average">
         </component>
         <component
               abbreviation="Max"
               name="Maximum">
         </component>
         <component
               abbreviation="Sum"
               name="Sum">
         </component>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.drawing"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.LayersAnalysis"
            description="Counts the number of horizontal and vertical layers in which the nodes are arranged."
            id="de.cau.cs.kieler.kiml.grana.layers"
            name="Number of Layers">
         <component
               abbreviation="Hor"
               name="Horizontal">
         </component>
         <component
               abbreviation="Ver"
               name="Vertical">
         </component>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.drawing"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.NodeEdgeOverlapsAnalysis"
            description="The number of overlaps between nodes and edges on all hierarchy levels."
            id="de.cau.cs.kieler.kiml.grana.nodeEdgeOverlaps"
            name="Number of Node-Edge Overlaps">
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.basic"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.PortCountAnalysis"
            description="The number of ports including hierarchies."
            id="de.cau.cs.kieler.kiml.grana.portCount"
            name="Port Count">
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.drawing"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.PortSideAnalysis"
            description="The number of ports for each side a port can be attached to"
            id="de.cau.cs.kieler.kiml.grana.portSides"
            name="Port Sides">
         <component
               abbreviation="N"
               name="North">
         </component>
         <component
               abbreviation="E"
               name="East">
         </component>
         <component
               abbreviation="S"
               name="South">
         </component>
         <component
               abbreviation="W"
               name="West">
         </component>
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.basic"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.SelfLoopAnalysis"
            description="The number of self loops."
            id="de.cau.cs.kieler.kiml.grana.selfLoops"
            name="Self Loops">
      </analysis>
      <analysis
            category="de.cau.cs.kieler.kiml.grana.basic"
            class="de.cau.cs.kieler.kiml.service.grana.analyses.UndirectedCycleAnalysis"
            description="An approximate number of undirected cycles."
            id="de.cau.cs.kieler.kiml.grana.undirectedCycles"
            name="Undirected Cycles">
      </analysis>
   </extension>

</plugin>
