<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension-point id="layoutManagers" name="Layout Managers" schema="schema/layoutManagers.exsd"/>
 
 <extension
       point="de.cau.cs.kieler.kiml.layoutConfigs">
    <customConfig
          activation="de.cau.cs.kieler.kiml.eclipse"
          class="de.cau.cs.kieler.kiml.service.EclipseLayoutConfig"
          default="true">
    </customConfig>
 </extension>

</plugin>
