<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
   <extension-point id="layoutManagers" name="Layout Managers" schema="schema/layoutManagers.exsd"/>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="de.cau.cs.kieler.kiml.ui.ActiveEditorSupportedTester"
          id="de.cau.cs.kieler.kiml.ui.activeEditorSupportedTester"
          namespace="de.cau.cs.kieler.kiml.ui"
          properties="activeEditorIsSupported"
          type="org.eclipse.ui.IEditorPart">
    </propertyTester>
 </extension>

 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="de.cau.cs.kieler.kiml.ui.preferences.PreferenceInitializer">
    </initializer>
 </extension>
   

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.kiml.ui.preferences.LayoutPreferencePage"
            id="de.cau.cs.kieler.kiml.ui.preferences.layout"
            name="%page.name.0">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.cau.cs.kieler"
            defaultHandler="de.cau.cs.kieler.core.kivi.menu.ButtonHandler"
            id="de.cau.cs.kieler.kiml.ui.command.layout"
            name="%command.name.0">
         <commandParameter
               id="de.cau.cs.kieler.kiml.ui.layoutScope"
               name="Scope"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="de.cau.cs.kieler"
            defaultHandler="de.cau.cs.kieler.kiml.ui.views.ShowLayoutViewHandler"
            id="de.cau.cs.kieler.kiml.ui.command.showLayoutView"
            name="%command.name.1">
      </command>
   </extension>
   
   <extension
point="org.eclipse.ui.menus">
<menuContribution
  locationURI="menu:de.cau.cs.kieler">
   <command
         commandId="de.cau.cs.kieler.kiml.ui.command.layout"
         icon="icons/menu16/kieler-arrange.gif"
         label="%command.label.0"
         mnemonic="%command.mnemonic.0"
         style="push">
      <visibleWhen
            checkEnabled="false">
         <with
               variable="activeEditor">
            <test
                  property="de.cau.cs.kieler.kiml.ui.activeEditorIsSupported">
            </test>
         </with>
      </visibleWhen>
   </command>
</menuContribution>
<menuContribution
      locationURI="toolbar:de.cau.cs.kieler">
   <command
         commandId="de.cau.cs.kieler.kiml.ui.command.layout"
         icon="icons/menu16/kieler-arrange.gif"
         label="%command.label.0"
         style="push"
         tooltip="%command.tooltip.0">
      <visibleWhen
            checkEnabled="false">
         <with
               variable="activeEditor">
            <test
                  property="de.cau.cs.kieler.kiml.ui.activeEditorIsSupported">
            </test>
         </with>
      </visibleWhen>
   </command>
</menuContribution>
<menuContribution
      locationURI="popup:de.cau.cs.kieler">
   <command
         commandId="de.cau.cs.kieler.kiml.ui.command.layout"
         icon="icons/menu16/kieler-arrange.gif"
         label="%command.label.2"
         mnemonic="%command.mnemonic.0"
         style="push">
      <parameter
            name="de.cau.cs.kieler.kiml.ui.layoutScope"
            value="selection">
      </parameter>
      <visibleWhen
            checkEnabled="false">
         <and>
            <reference
                  definitionId="de.cau.cs.kieler.expression.editorActive">
            </reference>
            <not>
               <reference
                     definitionId="de.cau.cs.kieler.expression.onlyConnectionsSelected">
               </reference>
            </not>
            <not>
               <reference
                     definitionId="de.cau.cs.kieler.expression.diagramSelected">
               </reference>
            </not>
            <count
                  value="1">
            </count>
            <with
                  variable="activeEditor">
               <test
                     property="de.cau.cs.kieler.kiml.ui.activeEditorIsSupported">
               </test>
            </with>
         </and>
      </visibleWhen>
   </command>
   <command
         commandId="de.cau.cs.kieler.kiml.ui.command.layout"
         icon="icons/menu16/kieler-arrange.gif"
         label="%command.label.1"
         mnemonic="%command.mnemonic.0"
         style="push">
      <parameter
            name="de.cau.cs.kieler.kiml.ui.layoutScope"
            value="diagram">
      </parameter>
      <visibleWhen
            checkEnabled="false">
         <and>
            <reference
                  definitionId="de.cau.cs.kieler.expression.diagramSelected">
            </reference>
            <with
                  variable="activeEditor">
               <test
                     property="de.cau.cs.kieler.kiml.ui.activeEditorIsSupported">
               </test>
            </with>
         </and>
      </visibleWhen>
   </command>
</menuContribution>
<menuContribution
      locationURI="popup:org.eclipse.ui.popup.any?after=additions">
   <command
         commandId="de.cau.cs.kieler.kiml.ui.command.showLayoutView"
         icon="icons/view16/layout.gif"
         label="%command.label.3"
         mnemonic="%command.mnemonic.0"
         style="push">
      <visibleWhen
            checkEnabled="false">
         <with
               variable="activeEditor">
            <test
                  property="de.cau.cs.kieler.kiml.ui.activeEditorIsSupported">
            </test>
         </with>
      </visibleWhen>
   </command>
</menuContribution>
</extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.cau.cs.kieler.kiml.ui.command.layout"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R L">
      </key>
   </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          category="de.cau.cs.kieler"
          class="de.cau.cs.kieler.kiml.ui.views.LayoutViewPart"
          icon="icons/view16/layout.gif"
          id="de.cau.cs.kieler.kiml.views.layout"
          name="%view.name.0"
          restorable="true">
    </view>
 </extension>
 <extension
       point="de.cau.cs.kieler.core.kivi.combinations">
    <combination
          active="true"
          class="de.cau.cs.kieler.kiml.ui.diagram.LayoutCombination"
          description="Performs automatic layout when either of the buttons or the key combination is pressed."
          name="Automatic Layout">
    </combination>
    <combination
            active="true"
            class="de.cau.cs.kieler.kiml.ui.diagram.RandomLayoutCombination"
            description="Apply a random layout on all components of the model. Can be used to experiment with other layouters afterwards."
            name="Random Layout">
    </combination>
    <combination
          active="true"
          class="de.cau.cs.kieler.kiml.ui.diagram.LayoutAfterDiagramReinitCombination"
          description="Performs an automatic layout after a diagram has been reinitialized from its model file"
          name="Layout After Diagram Reinitialization">
    </combination>
 </extension>
 <extension
       point="de.cau.cs.kieler.kiml.layoutProviders">
    <layoutAlgorithm
          class="de.cau.cs.kieler.kiml.ui.util.Draw2DLayoutProvider"
          description="&quot;Directed Graph Layout&quot; provided by the Draw2D framework. This is the same algorithm that is used by the standard layout button of GMF diagrams."
          id="de.cau.cs.kieler.draw2d"
          name="Draw2D Layout"
          preview="images/draw2d.png"
          type="de.cau.cs.kieler.type.layered">
       <supportedDiagram
             priority="1"
             type="de.cau.cs.kieler.layout.diagrams.general">
       </supportedDiagram>
       <supportedDiagram
             priority="1"
             type="de.cau.cs.kieler.layout.diagrams.stateMachine">
       </supportedDiagram>
       <knownOption
             default="16"
             option="de.cau.cs.kieler.spacing">
       </knownOption>
       <knownOption
             default="16"
             option="de.cau.cs.kieler.borderSpacing">
       </knownOption>
       <knownOption
             default="DOWN"
             option="de.cau.cs.kieler.direction">
       </knownOption>
       <knownOption
             option="de.cau.cs.kieler.sizeConstraint">
       </knownOption>
    </layoutAlgorithm>
 </extension>
 <extension
       point="de.cau.cs.kieler.kiml.ui.layoutManagers">
    <engine
          class="de.cau.cs.kieler.kiml.RecursiveGraphLayoutEngine">
    </engine>
 </extension>
 <extension
       point="de.cau.cs.kieler.kiml.layoutInfo">
    <config
          activation="de.cau.cs.kieler.kiml.eclipse"
          class="de.cau.cs.kieler.kiml.ui.service.EclipseLayoutConfig"
          default="true">
    </config>
 </extension>
   
</plugin>
