<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
 <extension
       point="org.eclipse.emf.ecore.generated_package">
    <package
          class="de.cau.cs.kieler.kiml.ui.layout.layoutoptions.LayoutOptionsPackage"
          genModel="model/layoutoptions.genmodel"
          uri="http://kieler.cs.cau.de/LayoutOptions">
    </package>
 </extension>
   

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.kiml.ui.preferences.LayoutPreferencePage"
            id="de.cau.cs.kieler.kiml.ui.preferences.layout"
            name="%page.name.0">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.cau.cs.kieler"
            defaultHandler="de.cau.cs.kieler.kiml.ui.handlers.LayoutHandler"
            id="de.cau.cs.kieler.kiml.ui.command.layout"
            name="%command.name.0">
         <commandParameter
               id="de.cau.cs.kieler.kiml.ui.layoutScope"
               name="Scope"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   
   <extension
point="org.eclipse.ui.menus">
<menuContribution
  locationURI="menu:de.cau.cs.kieler">
   <command
         commandId="de.cau.cs.kieler.kiml.ui.command.layout"
         icon="icons/menu16/kieler-arrange.gif"
         label="%command.label.0"
         mnemonic="%command.mnemonic.0"
         style="push">
      <visibleWhen
            checkEnabled="false">
         <reference
               definitionId="de.cau.cs.kieler.expression.gmfDiagram">
         </reference>
      </visibleWhen>
   </command>
</menuContribution>
<menuContribution
      locationURI="toolbar:de.cau.cs.kieler">
   <command
         commandId="de.cau.cs.kieler.kiml.ui.command.layout"
         icon="icons/menu16/kieler-arrange.gif"
         label="%command.label.0"
         style="push"
         tooltip="Layout the current diagram with KIELER">
      <visibleWhen
            checkEnabled="false">
         <reference
               definitionId="de.cau.cs.kieler.expression.gmfDiagram">
         </reference>
      </visibleWhen>
   </command>
</menuContribution>
<menuContribution
      locationURI="popup:de.cau.cs.kieler">
   <command
         commandId="de.cau.cs.kieler.kiml.ui.command.layout"
         icon="icons/menu16/kieler-arrange.gif"
         label="%command.label.2"
         mnemonic="%command.mnemonic.0"
         style="push">
      <visibleWhen
            checkEnabled="false">
         <and>
            <reference
                  definitionId="de.cau.cs.kieler.expression.editorActive">
            </reference>
            <reference
                  definitionId="de.cau.cs.kieler.expression.gmfDiagram">
            </reference>
            <not>
               <reference
                     definitionId="de.cau.cs.kieler.expression.onlyConnectionsSelected">
               </reference>
            </not>
            <not>
               <reference
                     definitionId="de.cau.cs.kieler.expression.diagramSelected">
               </reference>
            </not>
            <count
                  value="1">
            </count>
         </and>
      </visibleWhen>
      <parameter
            name="de.cau.cs.kieler.kiml.ui.layoutScope"
            value="selection">
      </parameter>
   </command>
   <command
         commandId="de.cau.cs.kieler.kiml.ui.command.layout"
         icon="icons/menu16/kieler-arrange.gif"
         label="%command.label.1"
         mnemonic="%command.mnemonic.0"
         style="push">
      <visibleWhen
            checkEnabled="false">
         <and>
            <reference
                  definitionId="de.cau.cs.kieler.expression.gmfDiagram">
            </reference>
            <reference
                  definitionId="de.cau.cs.kieler.expression.diagramSelected">
            </reference>
         </and>
      </visibleWhen>
      <parameter
            name="de.cau.cs.kieler.kiml.ui.layoutScope"
            value="diagram">
      </parameter>
   </command>
</menuContribution>
</extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.cau.cs.kieler.kiml.ui.command.layout"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R L">
      </key>
   </extension>
 <extension
       point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
    <editpolicyProvider
          class="de.cau.cs.kieler.kiml.ui.layout.LayoutEditPolicyProvider">
       <Priority
             name="Lowest">
       </Priority>
    </editpolicyProvider>
 </extension>
 <extension
       point="de.cau.cs.kieler.kiml.layout.layoutProviders">
    <layoutProvider
          class="de.cau.cs.kieler.kiml.ui.layouter.Draw2DLayoutProvider"
          id="de.cau.cs.kieler.kiml.layouter.draw2d"
          name="Draw2D Layout"
          type="de.cau.cs.kieler.layout.types.layered">
       <supportedDiagram
             priority="1"
             type="de.cau.cs.kieler.layout.diagrams.general">
       </supportedDiagram>
       <supportedDiagram
             priority="1"
             type="de.cau.cs.kieler.layout.diagrams.stateMachine">
       </supportedDiagram>
       <knownOption
             option="de.cau.cs.kieler.layout.options.minSpacing">
       </knownOption>
       <knownOption
             option="de.cau.cs.kieler.layout.options.layoutDirection">
       </knownOption>
       <knownOption
             option="de.cau.cs.kieler.layout.options.fixedSize">
       </knownOption>
    </layoutProvider>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          category="de.cau.cs.kieler"
          class="de.cau.cs.kieler.kiml.ui.views.LayoutViewPart"
          icon="icons/view16/layout.gif"
          id="de.cau.cs.kieler.kiml.views.layout"
          name="%view.name.0"
          restorable="true">
    </view>
 </extension>
 
   
</plugin>
