<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layoutProviders">
          <!-- - - - - - - - - - - - - - - - - - - - - - - 
                      Layout Algorithms
            - - - - - - - - - - - - - - - - - - - - - - -->
            
          <!-- Codaflow cola -->
          <layoutAlgorithm
                category="de.cau.cs.kieler.adaptagrams.category"
                class="de.cau.cs.kieler.klay.codaflow.ColaLayoutProvider"
                id="de.cau.cs.kieler.klay.codaflow.cola"
                name="CoDaFlow_CoLa"
                type="de.cau.cs.kieler.type.cola">
             <knownOption
                   default="20"
                   option="de.cau.cs.kieler.spacing">
             </knownOption>
             <knownOption
                   default="100"
                   option="de.cau.cs.kieler.cola.idealEdgeLength">
             </knownOption>
             <knownOption
                   option="de.cau.cs.kieler.layoutHierarchy">
             </knownOption>
             <supportedFeature
                   feature="PORTS">
             </supportedFeature>
             <supportedFeature
                   feature="COMPOUND">
             </supportedFeature>
             <supportedFeature
                   feature="CLUSTERS">
             </supportedFeature>
             <knownOption
                   option="de.cau.cs.kieler.klay.codaflow.dummyPortNodes">
             </knownOption>
             <knownOption
                   option="de.cau.cs.kieler.klay.codaflow.repositionHierarchicalPorts">
             </knownOption>
             <knownOption
                   option="de.cau.cs.kieler.klay.codaflow.portDummyBreathe">
             </knownOption>
             <knownOption
                   option="de.cau.cs.kieler.klay.codaflow.edgeLengthStrategy">
             </knownOption>
             <knownOption
                   option="de.cau.cs.kieler.klay.codaflow.emphasizeDirection">
             </knownOption>
          </layoutAlgorithm>
          
          <!-- aca -->
          <layoutAlgorithm
                category="de.cau.cs.kieler.adaptagrams.category"
                class="de.cau.cs.kieler.klay.codaflow.ACALayoutProvider"
                id="de.cau.cs.kieler.klay.codaflow.aca"
                name="CoDaFlow_ACA"
                type="de.cau.cs.kieler.type.cola">
             <knownOption
                   option="de.cau.cs.kieler.cola.idealEdgeLength">
             </knownOption>
             <knownOption
                   option="de.cau.cs.kieler.klay.codaflow.dummyPortNodes">
             </knownOption>
             <knownOption
                   option="de.cau.cs.kieler.cola.considerPreviousPositions">
             </knownOption>
             <knownOption
                   option="de.cau.cs.kieler.klay.codaflow.alignNodesHorizontal">
             </knownOption>
             <knownOption
                   option="de.cau.cs.kieler.klay.codaflow.cycleTreatment">
             </knownOption>
             <knownOption
                   option="de.cau.cs.kieler.layoutHierarchy">
             </knownOption>
             <supportedFeature
                   feature="COMPOUND">
             </supportedFeature>
             <supportedFeature
                   feature="CLUSTERS">
             </supportedFeature>
             <supportedFeature
                   feature="PORTS">
             </supportedFeature>
             <knownOption
                   option="de.cau.cs.kieler.klay.codaflow.edgeLengthStrategy">
             </knownOption>
             <knownOption
                   option="de.cau.cs.kieler.klay.codaflow.emphasizeDirection">
             </knownOption>
             <knownOption
                   option="de.cau.cs.kieler.klay.codaflow.aca.alignCrossHierarchyEdges">
             </knownOption>
             <knownOption
                   option="de.cau.cs.kieler.klay.codaflow.aca.postCompaction">
             </knownOption>
             <knownOption
                   option="de.cau.cs.kieler.klay.codaflow.aca.favorLongEdges">
             </knownOption>
          </layoutAlgorithm>
          
          <!-- global libavoid -->
          <layoutAlgorithm
                category="de.cau.cs.kieler.adaptagrams.category"
                class="de.cau.cs.kieler.klay.codaflow.LibavoidLayoutProvider"
                id="de.cau.cs.kieler.klay.cola.libavoid"
                name="Global Libavoid Layout"
                type="de.cau.cs.kieler.type.edgeRouting">
             <supportedFeature
                   feature="COMPOUND">
             </supportedFeature>
             <supportedFeature
                   feature="CLUSTERS">
             </supportedFeature>
             <supportedFeature
                   feature="PORTS">
             </supportedFeature>
             <knownOption
                   option="de.cau.cs.kieler.layoutHierarchy">
             </knownOption>
             <knownOption
                   option="de.cau.cs.kieler.cola.considerPreviousPositions">
             </knownOption>
          </layoutAlgorithm>
          
          <!-- Compacting -->
          <layoutAlgorithm
                category="de.cau.cs.kieler.adaptagrams.category"
                class="de.cau.cs.kieler.klay.codaflow.CompactingLayoutProvider"
                id="de.cau.cs.kieler.klay.cola.compaction"
                name="Compacting Layout"
                type="de.cau.cs.kieler.type.cola">
          </layoutAlgorithm>
          
          <!-- Topology improvement -->
          <layoutAlgorithm
                category="de.cau.cs.kieler.adaptagrams.category"
                class="de.cau.cs.kieler.klay.codaflow.TIOLayoutProvider"
                id="de.cau.cs.kieler.klay.cola.TIPLayout"
                name="TIP Layout"
                type="de.cau.cs.kieler.type.cola">
             <knownOption
                   option="de.cau.cs.kieler.borderSpacing">
             </knownOption>
             <knownOption
                   option="de.cau.cs.kieler.klay.codaflow.dummyPortNodes">
             </knownOption>
             <knownOption
                   option="de.cau.cs.kieler.spacing">
             </knownOption>
          </layoutAlgorithm>
   </extension>

</plugin>
