<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.core.kivi.combinations">
      <combination
            active="true"
            class="de.cau.cs.kieler.klighd.kivi.combinations.KlighdVisualizeDroppedEMFModelCombination"
            description="Enables the visualization of EMF models in resources dropped on KLighD views."
            name="Visualize dropped EMF Resources in KLighD Views (KLighD)">
      </combination>
      <combination
            active="false"
            class="de.cau.cs.kieler.klighd.kivi.combinations.KlighdVisualizeEMFEditorContentCombination"
            description="Visualize EMF tree editor content"
            name="Visualize EMF tree editor content  (KLighD)">
      </combination>
      <combination
            active="true"
            class="de.cau.cs.kieler.klighd.kivi.combinations.KlighdFocusSelectedElementInTreeViewerCombination"
            name="Focus selected Element in tree viewer (KLighD)">
      </combination>
   </extension>

</plugin>
