<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="Validation" name="Validation" schema="schema/Validation.exsd"/>
   <extension-point id="graphicalFrameworkBridges" name="Graphical Framework Bridges" schema="schema/graphicalFrameworkBridges.exsd"/>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.cau.cs.kieler.core.model.EditorTester"
            id="de.cau.cs.kieler.core.model.editorTester"
            namespace="de.cau.cs.kieler.core.model"
            properties="activeEditorIsSupported"
            type="org.eclipse.ui.IEditorPart">
      </propertyTester>
   </extension>
      <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="de.cau.cs.kieler.core.model.handlers.ConvertModelHandler"
            id="de.cau.cs.kieler.core.model.convert"
            name="Convert to Textual">
         <commandParameter
               id="de.cau.cs.kieler.convert.targetExtension"
               name="Target Extension"
               optional="false">
         </commandParameter>
      </command>
            <command
            categoryId="org.eclipse.ui.category.edit"
            defaultHandler="de.cau.cs.kieler.core.model.handlers.ZoomToFitHandler"
            description="Zoom so that the content fits the whole canvas"
            id="de.cau.cs.kieler.core.model.zoom"
            name="Zoom to Fit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.cau.cs.kieler.core.model.zoom"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R Z">
      </key>
   </extension>

</plugin>
