<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kwebs.client.protocol.support">
      <protocolSupport
            class="de.cau.cs.kieler.kwebs.client.jaxws.JaxWsClient"
            protocols="http;https">
      </protocolSupport>
   </extension>

</plugin>
