<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kwebs.client.protocols">
      <protocolSupport
            implementation="de.cau.cs.kieler.kwebs.client.jaxws.JaxWsClient"
            protocols="http;https">
      </protocolSupport>
   </extension>
   <extension
         point="de.cau.cs.kieler.kwebs.client.configurations">
      <defaultServerConfig
            address="http://rtsys.informatik.uni-kiel.de:9442/layout"
            isStandard="true"
            name="KIELER Demo Layout Service (HTTP)">
      </defaultServerConfig>
   </extension>

</plugin>
