<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kwebs.client.protocol.support">
      <protocolSupport
            implementation="de.cau.cs.kieler.kwebs.client.jaxws.JaxWsClient"
            protocols="http;https">
      </protocolSupport>
   </extension>
   <extension
         point="de.cau.cs.kieler.kwebs.client.configuration">
      <defaultServerConfig
            address="http://10.6.0.206:8442/layout"
            isStandard="true"
            name="KIELER Demo Layout Service (HTTP)">
      </defaultServerConfig>
   </extension>

</plugin>
