<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layout.layoutProviders">
      <category
            id="de.cau.cs.kieler.kiml.categories.zest"
            name="Zest">
      </category>
      <layoutProvider
            category="de.cau.cs.kieler.kiml.categories.zest"
            class="de.cau.cs.kieler.kiml.zest.ZestLayoutProvider"
            id="de.cau.cs.kieler.kiml.zest.spring"
            name="Spring Layout"
            parameter="SpringLayout"
            type="de.cau.cs.kieler.layout.types.force">
         <supportedDiagram
               priority="5"
               type="de.cau.cs.kieler.layout.diagrams.general">
         </supportedDiagram>
      </layoutProvider>
      <layoutProvider
            category="de.cau.cs.kieler.kiml.categories.zest"
            class="de.cau.cs.kieler.kiml.zest.ZestLayoutProvider"
            id="de.cau.cs.kieler.kiml.zest.grid"
            name="Grid Layout"
            parameter="GridLayout">
         <supportedDiagram
               priority="9"
               type="de.cau.cs.kieler.layout.diagrams.boxes">
         </supportedDiagram>
      </layoutProvider>
      <layoutProvider
            category="de.cau.cs.kieler.kiml.categories.zest"
            class="de.cau.cs.kieler.kiml.zest.ZestLayoutProvider"
            id="de.cau.cs.kieler.kiml.zest.radial"
            name="Radial Layout"
            parameter="RadialLayout"
            type="de.cau.cs.kieler.layout.types.radial">
         <supportedDiagram
               priority="4"
               type="de.cau.cs.kieler.layout.diagrams.general">
         </supportedDiagram>
      </layoutProvider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler.kiml.ui.preferences.layout"
            class="de.cau.cs.kieler.kiml.zest.preferences.ZestLayouterPreferencePage"
            id="de.cau.cs.kieler.kiml.zest.preferences"
            name="Zest">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.cau.cs.kieler.kiml.zest.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
