<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.cau.cs.kieler"
            defaultHandler="de.cau.cs.kieler.kiml.export.handlers.ExportHandler"
            id="de.cau.cs.kieler.kiml.export.exportCommand"
            name="Export Graph">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.cau.cs.kieler">
         <command
               commandId="de.cau.cs.kieler.kiml.export.exportCommand"
               icon="icons/exportdiagram.gif"
               label="Export Graph..."
               mnemonic="E"
               style="push"
               tooltip="Export the graph to a common file format.">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <reference
                        definitionId="de.cau.cs.kieler.expression.editorActive">
                  </reference>
                  <with
                        variable="activeEditor">
                     <test
                           forcePluginActivation="false"
                           property="de.cau.cs.kieler.kiml.ui.activeEditorIsSupported">
                     </test>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:de.cau.cs.kieler">
         <command
               commandId="de.cau.cs.kieler.kiml.export.exportCommand"
               icon="icons/exportdiagram.gif"
               label="Export Graph..."
               mnemonic="E"
               style="push"
               tooltip="Export the graph to a common file format.">
            <visibleWhen
                  checkEnabled="false">
              <with
                    variable="activeEditor">
                 <test
                       forcePluginActivation="false"
                       property="de.cau.cs.kieler.kiml.ui.activeEditorIsSupported">
                 </test>
              </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
