<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="de.cau.cs.kieler.layout"
            name="KIELER Layout">
      </category>
      <wizard
            category="de.cau.cs.kieler.layout"
            class="de.cau.cs.kieler.kiml.export.wizards.ExportGraphWizard"
            icon="icons/exportdiagram.gif"
            id="de.cau.cs.kieler.kiml.export.graphExportWizard"
            name="Graph Files">
         <description>
            Export graph from workspace
         </description>
      </wizard>
   </extension>

</plugin>
