<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.cau.cs.kieler.core.kgraph.rcp.KGraphPerspective"
            icon="icons/kgraph.gif"
            id="de.cau.cs.kieler.core.kgraph.rcp.perspective"
            name="KGraph">
      </perspective>
   </extension> 
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="KIELER KGraph Editor">
         <property
               name="windowImages"
               value="icons/foerde-logo-16.gif,icons/foerde-logo-32.gif,icons/foerde-logo-48.gif,icons/foerde-logo-64.gif,icons/foerde-logo-128.gif">
         </property>
         <property
               name="appName"
               value="KIELER KGraph Editor">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="defaultPerspectiveId"
               value="de.cau.cs.kieler.core.kgraph.rcp.perspective">
         </property>
         <property
               name="startupProgressRect"
               value="19,301,207,15">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
          </property>
          <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.platform/images/">
          </property>
          <property
                name="startupForegroundColor"
                value="000000">
          </property>
          <property
                name="startupMessageRect"
                value="7,252,0,0">
          </property>
          <property
                name="aboutImage"
                value="icons/about.png">
          </property>
          <property
                name="aboutText"
                value="KIELER - Kiel Integrated Environment for Layout (Eclipse Rich Client)&#x0A;A research project on enhancing the model-based design of complex systems&#x0A;&#x0A;&#x0A;For more information, visit our website:&#x0A;http://www.informatik.uni-kiel.de/rtsys/kieler/&#x0A;&#x0A;Copyright 2014 by Kiel University, Department of Computer Science, Real-Time and Embedded Systems Group">
          </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.cau.cs.kieler.core.kgraph.rcp.KGraphPerspective">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="kgraph"
            type="new"
            wizardId="de.cau.cs.kieler.core.kgraph.text.empty.wizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="kgraph"
            type="new"
            wizardId="de.cau.cs.kieler.core.kgraph.text.random.wizard">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="org.eclipse.ui.wizards.new.project">
         <enablement></enablement>
      </commonWizard>
   </extension>
   
</plugin>
