<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="de.cau.cs.kieler.kaom.graphiti.diagram.DiagramTypeProvider"
            description="Graphiti diagram editor for Kaom Model"
            id="de.cau.cs.kieler.kaom.graphiti.diagramTypeProvider"
            name="Kaom model diagram Type Provider">
         <diagramType
               id="de.cau.cs.kieler.kaom.graphiti.diagramType">
         </diagramType>
         <imageProvider
               id="de.cau.cs.kieler.kaom.graphiti.imageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="This is the graphiti diagram of the Kaom model"
            id="de.cau.cs.kieler.kaom.graphiti.diagramType"
            name="Kaom model diagram"
            type="Kaommodel">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="de.cau.cs.kieler.kaom.graphiti.diagram.ImageProvider"
            id="de.cau.cs.kieler.kaom.graphiti.imageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="Kaommodel.PropertyContributor">
         <propertyCategory
               category="Graphiti"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="Kaommodel.PropertyContributor">
         <propertySection
               class="de.cau.cs.kieler.kaom.graphiti.features.EntitySection"
               filter="de.cau.cs.kieler.kaom.graphiti.features.EntityFilter"
               id="graphiti.main.tab.emfclass"
               tab="graphiti.main.tab">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="Kaommodel.PropertyContributor">
         <propertyTab
               category="Graphiti"
               id="graphiti.main.tab"
               label="Main">
         </propertyTab>
      </propertyTabs>
   </extension>

</plugin>
