<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="de.cau.cs.kieler.kaom.graphiti.diagram.DiagramTypeProvider"
            description="Graphiti diagram type for KAOM models"
            id="de.cau.cs.kieler.kaom.graphiti"
            name="KAOM Diagram Type Provider">
         <diagramType
               id="de.cau.cs.kieler.kaom.diagramType">
         </diagramType>
         <imageProvider
               id="de.cau.cs.kieler.kaom.imageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="Graphiti diagram for KAOM models"
            id="de.cau.cs.kieler.kaom.diagramType"
            name="KAOM Diagram"
            type="KAOM">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="de.cau.cs.kieler.kaom.graphiti.diagram.ImageProvider"
            id="de.cau.cs.kieler.kaom.imageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="de.cau.cs.kieler.kaom.graphiti">
         <propertyCategory
               category="Graphiti"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.cau.cs.kieler.kaom.graphiti">
         <propertyTab
               category="Graphiti"
               id="de.cau.cs.kieler.kaom.graphiti.core"
               label="Core">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.cau.cs.kieler.kaom.graphiti">
         <propertySection
               class="de.cau.cs.kieler.kaom.graphiti.features.EntitySection"
               filter="de.cau.cs.kieler.kaom.graphiti.features.EntityFilter"
               id="de.cau.cs.kieler.kaom.graphiti.core"
               tab="de.cau.cs.kieler.kaom.graphiti.core">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
