<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler.kiml.ui.preferences.layout"
            class="net.ogdf.bin.preferences.OgdfPreferencePage"
            id="net.ogdf.bin.preferences"
            name="OGDF">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.ogdf.bin.preferences.OgdfPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
