<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kwebs.client.protocol.support">
      <protocolSupport
            implementation="de.cau.cs.kieler.kwebs.client.jeti.JetiClient"
            protocols="eti">
      </protocolSupport>
   </extension>
   <extension
         point="de.cau.cs.kieler.kwebs.client.configuration">
      <defaultServerConfig
            address="eti://10.6.0.206:9867/layout"
            name="KIELER Demo Layout Service (jETI)">
      </defaultServerConfig>
   </extension>

</plugin>
