<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kwebs.client.protocols">
      <protocolSupport
            implementation="de.cau.cs.kieler.kwebs.client.jeti.JetiClient"
            protocols="eti">
      </protocolSupport>
   </extension>
   <extension
         point="de.cau.cs.kieler.kwebs.client.configurations">
      <defaultServerConfig
            address="eti://rtsys.informatik.uni-kiel.de:9867"
            name="KIELER Demo Layout Service (jETI)">
      </defaultServerConfig>
   </extension>

</plugin>
