<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.grana.analysisProviders">
      <bundle
            class="de.cau.cs.kieler.kiml.grana.xtend.XtendAnalysesBundle"
            description="The analyses that are provided through xtend files."
            name="Xtend Analyses">
      </bundle>
      <category
            description="Analyses provided through xtend extensions."
            id="de.cau.cs.kieler.kiml.grana.xtend.category"
            name="Xtend">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.cau.cs.kieler">
         <command
               commandId="de.cau.cs.kieler.kiml.grana.xtend.makeXtendAnalysis"
               label="Make Xtend Analysis..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           forcePluginActivation="false"
                           property="org.eclipse.core.resources.name"
                           value="*.ext">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.cau.cs.kieler"
            defaultHandler="de.cau.cs.kieler.kiml.grana.xtend.handlers.MakeAnalysisHandler"
            description="Makes an analysis from an extension defined in the selected file."
            id="de.cau.cs.kieler.kiml.grana.xtend.makeXtendAnalysis"
            name="Make Xtend Analysis">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler.kiml.grana.general"
            class="de.cau.cs.kieler.kiml.grana.xtend.ui.XtendAnalysesPreferencePage"
            id="de.cau.cs.kieler.kiml.grana.xtend.general"
            name="Xtend Analyses">
      </page>
   </extension>

</plugin>
