<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.ksbase.configurations">
      <configuration
            checkVisibility="true"
            contextId="de.cau.cs.kieler.kaom.diagram.ui.diagramContext"
            defautlIcon="icon/kieler-arrange.gif"
            editorId="de.cau.cs.kieler.kaom.diagram.part.KaomDiagramEditorID">
         <transformations>
            <transformation
                  icon="icon/kieler-arrange.gif"
                  menu="true"
                  name="toggleInputOutput"
                  popup="false"
                  popupbar="true"
                  separated="true"
                  toolbar="false"
                  transformation="toggleInputOutput"
                  transformationId="de.cau.cs.kieler.kaom.ksbase.ptolemy.addInputOutput">
            </transformation>
            <transformation
                  icon="icon/kieler-arrange.gif"
                  menu="true"
                  name="encapsulate"
                  popup="true"
                  popupbar="true"
                  separated="false"
                  toolbar="false"
                  transformation="encapsulate"
                  transformationId="de.cau.cs.kieler.kaom.ksbase.ptolemy.collapse">
            </transformation>
            <transformation
                  icon="icon/kieler-arrange.gif"
                  menu="true"
                  name="flatten"
                  popup="false"
                  popupbar="true"
                  separated="false"
                  toolbar="false"
                  transformation="flatten"
                  transformationId="de.cau.cs.kieler.kaom.ksbase.ptolemy.expand">
            </transformation>
            <transformation
                  menu="true"
                  name="test"
                  popup="false"
                  popupbar="false"
                  toolbar="false"
                  transformation="test"
                  transformationId="de.cau.cs.kieler.kaom.ksbase.ptolemy.test">
            </transformation>
         </transformations>
         <package
               class="de.cau.cs.kieler.kaom.KaomPackage">
         </package>
         <package
               class="de.cau.cs.kieler.core.annotations.AnnotationsPackage">
         </package>
         <Xtend2TransformationClass
               TransformationClass="de.cau.cs.kieler.kaom.ksbase.ptolemy.xtend2.PtolemyTransformations">
         </Xtend2TransformationClass>
      </configuration>
   </extension>

</plugin>
