<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layoutProviders">
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="100"
            description="The ideal length of the edges"
            id="de.cau.cs.kieler.klay.cola.idealEdgeLengths"
            lowerBound="0"
            name="Ideal Edge Lengths"
            type="float">
      </layoutOption>
      <layoutAlgorithm
            category="de.cau.cs.kieler.kiml.categories.adaptagrams"
            class="de.cau.cs.kieler.klay.cola.ColaLayoutProvider"
            id="de.cau.cs.kieler.klay.cola.constrained"
            name="Dataflow CoLa Layout">
         <knownOption
               default="20"
               option="de.cau.cs.kieler.spacing">
         </knownOption>
         <knownOption
               default="100"
               option="de.cau.cs.kieler.kiml.cola.idealEdgeLengths">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.layoutHierarchy">
         </knownOption>
         <supportedFeature
               feature="PORTS">
         </supportedFeature>
         <supportedFeature
               feature="COMPOUND">
         </supportedFeature>
         <supportedFeature
               feature="CLUSTERS">
         </supportedFeature>
         <knownOption
               default="false"
               option="de.cau.cs.kieler.klay.cola.libtopology">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.dummyPortNodes">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.alignNodes">
         </knownOption>
      </layoutAlgorithm>
      <layoutAlgorithm
            class="de.cau.cs.kieler.klay.cola.CompactingLayoutProvider"
            id="de.cau.cs.kieler.klay.cola.compaction"
            name="Compacting Layout">
      </layoutAlgorithm>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            id="de.cau.cs.kieler.klay.cola.libtopology"
            name="Topology Preserving Edge Straightening"
            type="boolean">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            id="de.cau.cs.kieler.klay.cola.dummyPortNodes"
            name="Create Dummy Port Nodes"
            type="boolean">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            class="de.cau.cs.kieler.klay.cola.properties.CycleTreatment"
            id="de.cau.cs.kieler.klay.cola.cycleTreatment"
            name="Cycle Treatment"
            type="enum">
      </layoutOption>
      <layoutAlgorithm
            class="de.cau.cs.kieler.klay.cola.TIOLayoutProvider"
            id="de.cau.cs.kieler.klay.cola.TIPLayout"
            name="TIP Layout">
         <knownOption
               option="de.cau.cs.kieler.borderSpacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.dummyPortNodes">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.spacing">
         </knownOption>
      </layoutAlgorithm>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="120"
            description="The maximum length of a centre S-bend connector segments to attempt to improve (default 120.0)."
            id="de.cau.cs.kieler.klay.cola.moveLimit"
            name="Move Limit"
            type="float">
      </layoutOption>
      <layoutAlgorithm
            class="de.cau.cs.kieler.klay.cola.ACALayoutProvider"
            id="de.cau.cs.kieler.klay.cola.aca"
            name="ACA Layout">
         <knownOption
               option="de.cau.cs.kieler.kiml.cola.idealEdgeLengths">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.dummyPortNodes">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.considerPreviousPositions">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.alignNodesHorizontal">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.cycleTreatment">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.layoutHierarchy">
         </knownOption>
         <supportedFeature
               feature="COMPOUND">
         </supportedFeature>
         <supportedFeature
               feature="CLUSTERS">
         </supportedFeature>
         <supportedFeature
               feature="PORTS">
         </supportedFeature>
      </layoutAlgorithm>
      <layoutOption
            appliesTo="parents"
            class="de.cau.cs.kieler.klay.cola.properties.HorizontalAlignment"
            default="LEFT"
            id="de.cau.cs.kieler.klay.cola.alignNodesHorizontal"
            name="Horizontal Node Alignment"
            type="enum">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="false"
            id="de.cau.cs.kieler.klay.cola.considerPreviousPositions"
            name="Consider Previous Node Positions"
            type="boolean">
      </layoutOption>
   </extension>

</plugin>
