<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layoutProviders">
      <!--____________________________________________ 
                      Layout Options
       _____________________________________________-->
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="100"
            description="The ideal length of the edges"
            id="de.cau.cs.kieler.klay.cola.idealEdgeLengths"
            lowerBound="0"
            name="Ideal Edge Lengths"
            type="float">
      </layoutOption>
          <layoutOption
            appliesTo="parents"
            class="de.cau.cs.kieler.klay.cola.properties.HorizontalAlignment"
            default="LEFT"
            id="de.cau.cs.kieler.klay.cola.alignNodesHorizontal"
            name="Horizontal Node Alignment"
            type="enum">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="false"
            id="de.cau.cs.kieler.klay.cola.considerPreviousPositions"
            name="Consider Previous Node Positions"
            type="boolean">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            id="de.cau.cs.kieler.klay.cola.repositionHierarchicalPorts"
            name="Reposition Hierarchical Ports"
            type="boolean">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            id="de.cau.cs.kieler.klay.cola.dummyPortNodes"
            name="Create Dummy Port Nodes"
            type="boolean">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            class="de.cau.cs.kieler.klay.cola.properties.CycleTreatment"
            id="de.cau.cs.kieler.klay.cola.cycleTreatment"
            name="Cycle Treatment"
            type="enum">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="120"
            description="The maximum length of a centre S-bend connector segments to attempt to improve (default 120.0)."
            id="de.cau.cs.kieler.klay.cola.moveLimit"
            name="Move Limit"
            type="float">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="2"
            description="Breathing distance of dummy port nodes to their parent node."
            id="de.cau.cs.kieler.klay.cola.portDummyBreathe"
            name="Port Dummy Breathe"
            type="float">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="UNIFORM"
            class="de.cau.cs.kieler.klay.cola.properties.EdgeLengthStrategy"
            id="de.cau.cs.kieler.klay.cola.edgeLengthStrategy"
            name="Ideal Edge Length Strategy"
            type="enum">
      </layoutOption>
      <layoutOption
            advanced="true"
            appliesTo="parents"
            default="true"
            id="de.cau.cs.kieler.klay.cola.emphasizeDirection"
            name="Emphasize Direction"
            type="boolean">
      </layoutOption>
      <!--____________________________________________ 
                      Layout Algorithms
       _____________________________________________-->
      <layoutAlgorithm
            category="de.cau.cs.kieler.kiml.categories.adaptagrams"
            class="de.cau.cs.kieler.klay.cola.ColaLayoutProvider"
            id="de.cau.cs.kieler.klay.cola.constrained"
            name="Dataflow CoLa Layout">
         <knownOption
               default="20"
               option="de.cau.cs.kieler.spacing">
         </knownOption>
         <knownOption
               default="100"
               option="de.cau.cs.kieler.kiml.cola.idealEdgeLengths">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.layoutHierarchy">
         </knownOption>
         <supportedFeature
               feature="PORTS">
         </supportedFeature>
         <supportedFeature
               feature="COMPOUND">
         </supportedFeature>
         <supportedFeature
               feature="CLUSTERS">
         </supportedFeature>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.dummyPortNodes">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.repositionHierarchicalPorts">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.portDummyBreathe">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.edgeLengthStrategy">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.emphasizeDirection">
         </knownOption>
      </layoutAlgorithm>
      <layoutAlgorithm
            class="de.cau.cs.kieler.klay.cola.CompactingLayoutProvider"
            id="de.cau.cs.kieler.klay.cola.compaction"
            name="Compacting Layout">
      </layoutAlgorithm>
      <layoutAlgorithm
            class="de.cau.cs.kieler.klay.cola.TIOLayoutProvider"
            id="de.cau.cs.kieler.klay.cola.TIPLayout"
            name="TIP Layout">
         <knownOption
               option="de.cau.cs.kieler.borderSpacing">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.dummyPortNodes">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.spacing">
         </knownOption>
      </layoutAlgorithm>
      <layoutAlgorithm
            class="de.cau.cs.kieler.klay.cola.ACALayoutProvider"
            id="de.cau.cs.kieler.klay.cola.aca"
            name="ACA Layout">
         <knownOption
               option="de.cau.cs.kieler.kiml.cola.idealEdgeLengths">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.dummyPortNodes">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.considerPreviousPositions">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.alignNodesHorizontal">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.cycleTreatment">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.layoutHierarchy">
         </knownOption>
         <supportedFeature
               feature="COMPOUND">
         </supportedFeature>
         <supportedFeature
               feature="CLUSTERS">
         </supportedFeature>
         <supportedFeature
               feature="PORTS">
         </supportedFeature>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.edgeLengthStrategy">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.emphasizeDirection">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.aca.alignCrossHierarchyEdges">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.aca.postCompaction">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.aca.favorLongEdges">
         </knownOption>
      </layoutAlgorithm>
      <layoutAlgorithm
            class="de.cau.cs.kieler.klay.cola.CoDaLayoutProvider"
            id="de.cau.cs.kieler.klay.cola.codala"
            name="CoDaLa Layouter">
         <knownOption
               option="de.cau.cs.kieler.kiml.cola.idealEdgeLengths">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.dummyPortNodes">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.considerPreviousPositions">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.alignNodesHorizontal">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.cycleTreatment">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.layoutHierarchy">
         </knownOption>
         <supportedFeature
               feature="COMPOUND">
         </supportedFeature>
         <supportedFeature
               feature="CLUSTERS">
         </supportedFeature>
         <supportedFeature
               feature="PORTS">
         </supportedFeature>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.edgeLengthStrategy">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.emphasizeDirection">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.aca.alignCrossHierarchyEdges">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.aca.postCompaction">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.aca.favorLongEdges">
         </knownOption>
      </layoutAlgorithm>
      <layoutAlgorithm
            class="de.cau.cs.kieler.klay.cola.LibavoidLayoutProvider"
            id="de.cau.cs.kieler.klay.cola.libavoid"
            name="New Libavoid Layout">
         <supportedFeature
               feature="COMPOUND">
         </supportedFeature>
         <supportedFeature
               feature="CLUSTERS">
         </supportedFeature>
         <supportedFeature
               feature="PORTS">
         </supportedFeature>
         <knownOption
               option="de.cau.cs.kieler.layoutHierarchy">
         </knownOption>
         <knownOption
               option="de.cau.cs.kieler.klay.cola.considerPreviousPositions">
         </knownOption>
      </layoutAlgorithm>
      <layoutOption
            appliesTo="parents"
            default="false"
            id="de.cau.cs.kieler.klay.cola.aca.alignCrossHierarchyEdges"
            name="ACA Align Cross-Hierarchy Edges"
            type="boolean">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="false"
            id="de.cau.cs.kieler.klay.cola.aca.favorLongEdges"
            name="ACA Favor Long Edges"
            type="boolean">
      </layoutOption>
      <layoutOption
            appliesTo="parents"
            default="false"
            id="de.cau.cs.kieler.klay.cola.aca.postCompaction"
            name="ACA Post Compaction"
            type="boolean">
      </layoutOption>
   </extension>
</plugin>
