<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.cau.cs.kieler.ptolemy.klighd.PtolemyEditorPart"
            default="true"
            extensions="moml"
            icon="icons/PtolemyII16x16.png"
            id="de.cau.cs.kieler.ptolemy.klighd.editor"
            name="Ptolemy Model Viewer">
      </editor>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.ptolemy.klighd.PtolemyDiagramSynthesis"
            id="de.cau.cs.kieler.klighd.examples.uml2.UML2UseCaseDiagramSynthesis">
      </diagramSynthesis>
   </extension>

</plugin>
