<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.cau.cs.kieler.keg.importer.canImport">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <or>
                     <test
                           forcePluginActivation="false"
                           property="org.eclipse.core.resources.name"
                           value="*.kgraph">
                     </test>
                     <test
                           forcePluginActivation="false"
                           property="org.eclipse.core.resources.name"
                           value="*.graphml">
                     </test>
                     <test
                           forcePluginActivation="false"
                           property="org.eclipse.core.resources.name"
                           value="*.ogml">
                     </test>
                     <test
                           forcePluginActivation="false"
                           property="org.eclipse.core.resources.name"
                           value="*.dot">
                     </test>
                  </or>
               </and>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="de.cau.cs.kieler.keg"
            name="KIELER Editor for Graphs">
      </category>
      <wizard
            category="de.cau.cs.kieler.keg"
            class="de.cau.cs.kieler.keg.importer.wizards.ImportGraphWizard"
            icon="icons/menu16/importdiagram.gif"
            id="de.cau.cs.kieler.keg.importer.graphImportWizard"
            name="Graph Files to KEG Diagrams">
         <description>
            Import from common graph formats into the KEG file format.
         </description>
      </wizard>
   </extension>

</plugin>
