<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.scheidtbachmann.osgimodel.visualization.OsgiDiagramSynthesis"
            id="de.scheidtbachmann.osgimodel.visualization.OsgiDiagramSynthesis">
      </diagramSynthesis>
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.scheidtbachmann.osgimodel.visualization.OsgiDiagramSynthesisTest"
            id="de.scheidtbachmann.osgimodel.visualization.OsgiDiagramSynthesisTest">
      </diagramSynthesis>
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.scheidtbachmann.osgimodel.visualization.BundleSynthesis"
            id="de.scheidtbachmann.osgimodel.visualization.BundleSynthesis">
      </diagramSynthesis>
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.scheidtbachmann.osgimodel.visualization.ProductSynthesis"
            id="de.scheidtbachmann.osgimodel.visualization.ProductSynthesis">
      </diagramSynthesis>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.ReferencedSynthesisExpandAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.ReferencedSynthesisExpandAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.RevealUsedByBundlesAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.RevealUsedByBundlesAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.RevealRequiredBundlesAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.RevealRequiredBundlesAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.FocusAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.FocusAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.CloseAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.CloseAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.RevealUsedPackagesAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.RevealUsedPackagesAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.UndoAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.UndoAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.RedoAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.RedoAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.ResetViewAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.ResetViewAction">
      </action>
   </extension>

</plugin>
