<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.scheidtbachmann.osgimodel.visualization.OsgiDiagramSynthesis"
            id="de.scheidtbachmann.osgimodel.visualization.OsgiDiagramSynthesis">
      </diagramSynthesis>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.FocusAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.FocusAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.UndoAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.UndoAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.RedoAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.RedoAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.ResetViewAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.ResetViewAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.ContextCollapseExpandAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.ContextCollapseExpandAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.ContextRemoveAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.ContextRemoveAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.OverviewContextCollapseExpandAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.OverviewContextCollapseExpandAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.RevealRequiredBundlesAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.RevealRequiredBundlesAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.RevealUsedByBundlesAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.RevealUsedByBundlesAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.RevealUsedPackagesAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.RevealUsedPackagesAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.RevealImplementingServiceComponentsAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.RevealImplementingServiceComponentsAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.RevealImplementedServiceInterfacesAction"
            id="de.scheidtbachmann.osgimodel.visualization.actions.RevealImplementedServiceInterfacesAction">
      </action>
      <action
            class="de.scheidtbachmann.osgimodel.visualization.actions.ToggleServiceComponentVisualization"
            id="de.scheidtbachmann.osgimodel.visualization.actions.ToggleServiceComponentVisualization">
      </action>
   </extension>

</plugin>
