<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.cau.cs.kieler"
               label="KIELER"
               mnemonic="K">
            <menu
                  id="de.cau.cs.kieler.examplemanagement"
                  label="ExampleManagement">
               <command
                     commandId="de.cau.cs.kieler.kex.ui.import"
                     label="Import Example"
                     style="push">
               </command>
               <separator
                     name="de.cau.cs.kieler.kex.ui.import_export"
                     visible="true">
               </separator>
               <command
                     commandId="de.cau.cs.kieler.kex.ui.update"
                     label="Update Example"
                     style="push">
               </command>
               <command
                     commandId="de.cau.cs.kieler.kex.ui.export"
                     label="Export Example"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.cau.cs.kieler.kex.ui.examplecategory"
            name="Example Category">
      </category>
      <command
            categoryId="de.cau.cs.kieler.kex.ui.examplecategory"
            id="de.cau.cs.kieler.kex.ui.import"
            name="Import">
      </command>
      <command
            categoryId="de.cau.cs.kieler.kex.ui.examplecategory"
            id="de.cau.cs.kieler.kex.ui.export"
            name="Export">
      </command>
      <command
            categoryId="de.cau.cs.kieler.kex.ui.examplecategory"
            id="de.cau.cs.kieler.kex.ui.update"
            name="Update">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.cau.cs.kieler.kex.ui.handlers.ExampleImportHandler"
            commandId="de.cau.cs.kieler.kex.ui.import">
      </handler>
      <handler
            class="de.cau.cs.kieler.kex.ui.handlers.ExampleExportHandler"
            commandId="de.cau.cs.kieler.kex.ui.export">
      </handler>
      <handler
            class="de.cau.cs.kieler.kex.ui.handlers.ExampleUpdateHandler"
            commandId="de.cau.cs.kieler.kex.ui.update">
      </handler>
   </extension>
</plugin>
