<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="de.cau.cs.kieler.kex.ui.import"
            name="KIELER Examples">
      </category>
      <wizard
            category="de.cau.cs.kieler.kex.ui.import"
            class="de.cau.cs.kieler.kex.ui.wizards.importing.ExampleImportWizard"
            icon="icons/keksIcon.jpg"
            id="de.cau.cs.kieler.kex.ui.importWizard"
            name="Import">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="de.cau.cs.kieler.kex.ui.export"
            name="KIELER Examples">
      </category>
      <wizard
            category="de.cau.cs.kieler.kex.ui.export"
            class="de.cau.cs.kieler.kex.ui.wizards.exporting.ExampleExportWizard"
            icon="icons/keksIcon.jpg"
            id="de.cau.cs.kieler.kex.ui.export"
            name="Export">
      </wizard>
   </extension>
</plugin>
