<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.formats.graphFormats">
      <handler
            class="de.cau.cs.kieler.formats.kgraph.KGraphHandler"
            extensions="kgx"
            id="de.cau.cs.kieler.formats.kgraph"
            name="KGraph">
      </handler>
   </extension>

</plugin>
