<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.core.kivi.combinations" name="Combinations" schema="schema/de.cau.cs.kieler.core.kivi.combinations.exsd" />
   
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.cau.cs.kieler.core.kivi.KiViPlugin">
      </startup>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.cau.cs.kieler.core.kivi.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.cau.cs.kieler.core.kivi.preferences.KiViPreferencePage"
            id="de.cau.cs.kieler.core.kivi"
            name="KIELER View Management">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.cau.cs.kieler.core.kivi.preferences.CombinationsPreferencePage"
            id="de.cau.cs.kieler.core.kivi.combinations"
            name="Combinations"
            category="de.cau.cs.kieler.core.kivi">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="toolbar:de.cau.cs.kieler">
         <command
               commandId="de.cau.cs.kieler.core.kivi.toolbar.command"
               icon="icons/kieler_16.gif"
               id="de.cau.cs.kieler.kivi.dynamic.toolbar.button"
               label="KIELER View Management"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:de.cau.cs.kieler.kivi.dynamic.toolbar.button">
         <dynamic
               class="de.cau.cs.kieler.core.kivi.internal.KiviContributionItem"
               id="de.cau.cs.kieler.kivi.dynamic.menu">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.cau.cs.kieler.core.kivi.internal.KiviToolbarHandler"
            description="Opens a dialog to configure KIELER View Management and provides access to active combinations."
            id="de.cau.cs.kieler.core.kivi.toolbar.command"
            name="KIELER View Management Quick Configuration">
      </command>
   </extension>
</plugin>
