<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.core.kivi.combinations" name="Combinations" schema="schema/de.cau.cs.kieler.core.kivi.combinations.exsd" />
   
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.cau.cs.kieler.core.kivi.KiViPlugin">
      </startup>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.cau.cs.kieler.core.kivi.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.cau.cs.kieler.core.kivi.preferences.KiViPreferencePage"
            id="de.cau.cs.kieler.core.kivi"
            name="View Management"
            category="de.cau.cs.kieler">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.cau.cs.kieler.core.kivi.preferences.CombinationsPreferencePage"
            id="de.cau.cs.kieler.core.kivi.combinations"
            name="Combinations"
            category="de.cau.cs.kieler.core.kivi">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="toolbar:de.cau.cs.kieler">
         <dynamic
               class="de.cau.cs.kieler.core.kivi.internal.KiviContributionItem"
               id="de.cau.cs.kieler.kivi.dynamic.toolbar">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:de.cau.cs.kieler">
         <dynamic
               class="de.cau.cs.kieler.core.kivi.internal.KiviContributionItem"
               id="de.cau.cs.kieler.kivi.dynamic.menu">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:de.cau.cs.kieler">
         <dynamic
               class="de.cau.cs.kieler.core.kivi.internal.KiviContributionItem"
               id="de.cau.cs.kieler.kivi.dynamic.popup">
         </dynamic>
      </menuContribution>
   </extension>
</plugin>
