<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler.kiml.ui.preferences.layout"
            class="de.cau.cs.kieler.kiml.layouter.graphviz.preferences.GraphvizPreferencePage"
            id="de.cau.cs.kieler.kiml.layouter.graphviz.preferences.GraphvizPreferencePage"
            name="GraphViz">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.cau.cs.kieler.kiml.layouter.graphviz.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.layout.layoutProviders">
      <category
            id="de.cau.cs.kieler.kiml.categories.graphviz"
            name="Graphviz">
      </category>
      <layoutProvider
            class="de.cau.cs.kieler.kiml.layouter.graphviz.DotLayoutProvider"
            category="de.cau.cs.kieler.kiml.categories.graphviz"
            id="de.cau.cs.kieler.kiml.layouter.dot"
            name="Dot"
            type="de.cau.cs.kieler.layout.types.layered">
         <supportedDiagram
               priority="10"
               type="de.cau.cs.kieler.layout.info.types.general">
         </supportedDiagram>
         <supportedDiagram
               priority="10"
               type="de.cau.cs.kieler.layout.info.types.stateMachine">
         </supportedDiagram>
      </layoutProvider>
      <layoutProvider
            class="de.cau.cs.kieler.kiml.layouter.graphviz.NeatoLayoutProvider"
            category="de.cau.cs.kieler.kiml.categories.graphviz"
            id="de.cau.cs.kieler.kiml.layouter.neato"
            name="Neato"
            type="de.cau.cs.kieler.layout.types.force">
         <supportedDiagram
               priority="9"
               type="de.cau.cs.kieler.layout.info.types.general">
         </supportedDiagram>
      </layoutProvider>
      <layoutProvider
            class="de.cau.cs.kieler.kiml.layouter.graphviz.FdpLayoutProvider"
            category="de.cau.cs.kieler.kiml.categories.graphviz"
            id="de.cau.cs.kieler.kiml.layouter.fdp"
            name="FDP"
            type="de.cau.cs.kieler.layout.types.force">
         <supportedDiagram
               priority="6"
               type="de.cau.cs.kieler.layout.info.types.general">
         </supportedDiagram>
      </layoutProvider>
      <layoutProvider
            class="de.cau.cs.kieler.kiml.layouter.graphviz.TwopiLayoutProvider"
            category="de.cau.cs.kieler.kiml.categories.graphviz"
            id="de.cau.cs.kieler.kiml.layouter.twopi"
            name="Twopi"
            type="de.cau.cs.kieler.layout.types.radial">
         <supportedDiagram
               priority="8"
               type="de.cau.cs.kieler.layout.info.types.general">
         </supportedDiagram>
      </layoutProvider>
      <layoutProvider
            class="de.cau.cs.kieler.kiml.layouter.graphviz.CircoLayoutProvider"
            category="de.cau.cs.kieler.kiml.categories.graphviz"
            id="de.cau.cs.kieler.kiml.layouter.circo"
            name="Circo"
            type="de.cau.cs.kieler.layout.types.circle">
         <supportedDiagram
               priority="7"
               type="de.cau.cs.kieler.layout.info.types.general">
         </supportedDiagram>
      </layoutProvider>
   </extension>

</plugin>
