<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.ksbase.configuration">
      <configuration
            XtendFile="src/transformations/features.ext"
            contextId="org.eclipse.uml2.diagram.clazz.ui.diagramContext"
            editor="org.eclipse.uml2.diagram.clazz.part.UMLDiagramEditor"
            packageName="org.eclipse.uml2.uml.UMLPackage">
       <transformations>
         <transformation
         transformationId="de.cau.cs.kieler.ksbase.example.uml2.addImpl"
               keyboardShortcut="CTRL+K I"
               name="Add Implementation"
               selectionCount="1"
               transformation="createImplements">
            <element_selection
                  class="org.eclipse.uml2.diagram.clazz.edit.parts.Interface2EditPart">
            </element_selection>
            <element_selection
                  class="org.eclipse.uml2.diagram.component.edit.parts.Interface2EditPart">
            </element_selection>
         </transformation>
       </transformations>
       <menus>
          <menuContribution
                locationURI="menu:de.cau.cs.kieler">
             <transformationCommand
                   transformationId="de.cau.cs.kieler.ksbase.example.uml2.addImpl">
             </transformationCommand>
          </menuContribution>
       </menus>
      </configuration>
   </extension>

</plugin>
