<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.layoutProviders">
      <layoutProvider
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.kiml.client.RemoteLayoutProvider"
            id="de.cau.cs.kieler.kiml.remote"
            name="Layout Server">
      </layoutProvider>
   </extension>

</plugin>
