<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.cau.cs.kieler.ptolemy.attachmenteval.editors.attachment.CommentAttachmentEditor"
            default="true"
            extensions="krass"
            icon="icons/ptolemy.png"
            id="de.cau.cs.kieler.ptolemy.attachmenteval.CommentAttachmentEditor"
            name="Ptolemy Comment Attachment Editor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Ptolemy Attachment Evaluation"
            id="de.cau.cs.kieler.ptolemy.attachmenteval">
      </category>
      <wizard
            name="New Ptolemy Attachment"
            icon="icons/ptolemy.png"
            category="de.cau.cs.kieler.ptolemy.attachmenteval"
            class="de.cau.cs.kieler.ptolemy.attachmenteval.wizards.attachment.NewPtolemyAttachmentWizard"
            id="de.cau.cs.kieler.ptolemy.attachmenteval.wizards.attachment.NewPtolemyAttachmentWizard">
      </wizard>
   </extension>

</plugin>
