<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.ksbase.configurations">
      <configuration
            XtendFile="src/transformations/feature.ext"
            contextId="de.cau.cs.kieler.dataflow.diagram.ui.diagramContext"
            editorId="de.cau.cs.kieler.dataflow.diagram.part.DataflowDiagramEditorID"
            packageName="de.cau.cs.kieler.dataflow.DataflowPackage">
         <menus>
            <menuContribution
                  locationURI="menu:de.cau.cs.kieler">
               <transformationCommand
                     transformationId="de.cau.cs.kieler.dataflow.sbase.connectBoxes">
               </transformationCommand>
               <transformationCommand
                     transformationId="de.cau.cs.kieler.dataflow.sbase.connectPorts">
               </transformationCommand>
               <transformationCommand
                     transformationId="de.cau.cs.kieler.dataflow.sbase.Suc">
               </transformationCommand>
               <transformationCommand
                     transformationId="de.cau.cs.kieler.dataflow.sbase.Predec">
               </transformationCommand>
               <transformationCommand
                     transformationId="de.cau.cs.kieler.dataflow.sbase.connectAll">
               </transformationCommand>
               <transformationCommand
                     transformationId="de.cau.cs.kieler.dataflow.sbase.insertBox">
               </transformationCommand>
            </menuContribution>
         </menus>
         <transformations>
            <transformation
                  keyboardShortcut="M1+K O"
                  name="Connect Ports"
                  transformation="connectPorts"
                  transformationId="de.cau.cs.kieler.dataflow.sbase.connectPorts">
            </transformation>
            <transformation
                  keyboardShortcut="M1+K B"
                  name="Connect Boxes"
                  transformation="connectBoxes"
                  transformationId="de.cau.cs.kieler.dataflow.sbase.connectBoxes">
            </transformation>
            <transformation
                  keyboardShortcut="M1+K S"
                  name="Create Successor"
                  transformation="createSuccessor"
                  transformationId="de.cau.cs.kieler.dataflow.sbase.Suc">
            </transformation>
            <transformation
                  keyboardShortcut="M1+K P"
                  name="Create Predecessor"
                  transformation="createPredecessor"
                  transformationId="de.cau.cs.kieler.dataflow.sbase.Predec">
            </transformation>
            <transformation
                  keyboardShortcut="M1+K A"
                  name="Connect All Open Ports"
                  transformation="connectAllBoxPorts"
                  transformationId="de.cau.cs.kieler.dataflow.sbase.connectAll">
            </transformation>
            <transformation
                  keyboardShortcut="M1+K I"
                  name="Insert Box"
                  transformation="insertBoxInConnection"
                  transformationId="de.cau.cs.kieler.dataflow.sbase.insertBox">
            </transformation>
         </transformations>
      </configuration>
   </extension>

</plugin>
